inbound-automation-engine/04_create_deals.json
{
  "name":"{{fullName}}",
  "flow":[
    {
      "id":8,
      "module":"pipedrive:MakeAPICall",
      "version":2,
      "parameters":{
        "__IMTCONN__":{{redactedPhone}}
      },
      "mapper":{
        "url":"persons?filter_id=xyz&start=0&limit=10&custom_fields=xxxxxxxxxxx459dfa872bd9f2,zzzzzzzzzzzzzz0c92020,uuuuuuuuuuu65a647a25&sort_by=update_time&include_fields=open_deals_count,related_open_deals_count&sort_direction=asc",
        "method":"GET",
        "headers":[
          {
            "key":"Content-Type",
            "value":"application/json"
          }
        ]
      },
      "metadata":{
        "designer":{
          "x":0,
          "y":150
        },
        "parameters":[
          {
            "name":"{{fullName}}",
            "type":"account:pipedrive-auth,pipedrive-apikey",
            "label":"{{connectionLabel}}",
            "required":true
          }
        ],
        "expect":[
          {
            "type":"hidden"
          },
          {
            "name":"{{fullName}}",
            "type":"text",
            "label":"{{connectionLabel}}",
            "required":true
          },
          {
            "name":"{{fullName}}",
            "type":"select",
            "label":"{{connectionLabel}}",
            "required":true,
            "validate":{
              "enum":[
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name":"{{fullName}}",
            "spec":[
              {
                "name":"{{fullName}}",
                "type":"text",
                "label":"{{connectionLabel}}"
              },
              {
                "name":"{{fullName}}",
                "type":"text",
                "label":"{{connectionLabel}}"
              }
            ],
            "type":"array",
            "label":"{{connectionLabel}}"
          },
          {
            "name":"{{fullName}}",
            "spec":[
              {
                "name":"{{fullName}}",
                "type":"text",
                "label":"{{connectionLabel}}"
              },
              {
                "name":"{{fullName}}",
                "type":"text",
                "label":"{{connectionLabel}}"
              }
            ],
            "type":"array",
            "label":"{{connectionLabel}}"
          },
          {
            "name":"{{fullName}}",
            "type":"any",
            "label":"{{connectionLabel}}"
          }
        ]
      }
    },
    {
      "id":11,
      "module":"builtin:BasicRouter",
      "version":1,
      "filter":{
        "name":"{{fullName}}",
        "conditions":[
          [
            {
              "a":"{{8.body.success}}",
              "b":"{{true}}",
              "o":"boolean:equal"
            },
            {
              "a":"{{8.body.data}}",
              "b":"0",
              "o":"array:greater"
            }
          ]
        ]
      },
      "mapper":null,
      "metadata":{
        "designer":{
          "x":300,
          "y":150
        }
      },
      "routes":[
        {
          "flow":[
            {
              "id":12,
              "module":"builtin:BasicFeeder",
              "version":1,
              "parameters":{},
              "mapper":{
                "array":"{{8.body.data}}"
              },
              "metadata":{
                "designer":{
                  "x":600,
                  "y":150
                },
                "expect":[
                  {
                    "mode":"edit",
                    "name":"{{fullName}}",
                    "spec":[],
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  }
                ]
              }
            },
            {
              "id":23,
              "module":"util:FunctionSleep",
              "version":1,
              "parameters":{},
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{12.`36cxxxxxxxxxxxxxa25`}}",
                      "o":"exist"
                    },
                    {
                      "a":"{{if((12.open_deals_count = 0) | (length(12.open_deals_count) = 0); true; false)}}",
                      "b":"{{true}}",
                      "o":"boolean:equal"
                    }
                  ]
                ]
              },
              "mapper":{
                "duration":"5"
              },
              "metadata":{
                "designer":{
                  "x":900,
                  "y":150,
                  "name":"{{fullName}}"
                },
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"uinteger",
                    "label":"{{connectionLabel}}",
                    "required":true,
                    "validate":{
                      "max":300,
                      "min":1
                    }
                  }
                ]
              }
            },
            {
              "id":10,
              "module":"pipedrive:CreateObject",
              "version":2,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "mapper":{
                "title":"{{12.org_name}} - {{12.name}}",
                "org_id":"{{12.org_id.value}}",
                "status":"open",
                "user_id":"{{ifempty(12.owner_id.id; ignore)}}",
                "stage_id":"{pipedriveStage_id}",
                "person_id":"{{12.id}}",
                "expected_close_date":"{{addDays(now; 30)}}",
                "46vvvvvvvvvvvvvvvvea527":"{{now}}"
              },
              "metadata":{
                "designer":{
                  "x":1200,
                  "y":150
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:pipedrive-auth,pipedrive-apikey",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "max":3,
                      "min":3
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "open",
                        "won",
                        "lost",
                        "deleted"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "time":false,
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "time":false,
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  }
                ]
              },
              "onerror":[
                {
                  "id":22,
                  "module":"builtin:Break",
                  "version":1,
                  "parameters":{},
                  "mapper":{
                    "count":"2",
                    "retry":true,
                    "interval":"2"
                  },
                  "metadata":{
                    "designer":{
                      "x":1500,
                      "y":300
                    },
                    "expect":[
                      {
                        "name":"{{fullName}}",
                        "type":"boolean",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"uinteger",
                        "label":"{{connectionLabel}}",
                        "required":true,
                        "validate":{
                          "max":10000,
                          "min":1
                        }
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"uinteger",
                        "label":"{{connectionLabel}}",
                        "required":true,
                        "validate":{
                          "max":44640,
                          "min":1
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "id":25,
              "module":"pipedrive:GetPerson",
              "version":2,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{10.id}}",
                      "o":"exist"
                    }
                  ]
                ]
              },
              "mapper":{
                "id":"{{12.id}}"
              },
              "metadata":{
                "designer":{
                  "x":1500,
                  "y":0
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:pipedrive-auth,pipedrive-apikey",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ]
              }
            },
            {
              "id":16,
              "module":"util:SetVariables",
              "version":1,
              "parameters":{},
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{25.customRaw.ac3xxxxxxxxc}}",
                      "o":"exist"
                    }
                  ]
                ]
              },
              "mapper":{
                "scope":"roundtrip",
                "variables":[
                  {
                    "name":"{{fullName}}",
                    "value":"{{trim(replace(replace(lower(\"{{externalUrl}}" + 12.`36xxxxxxxxxxxxxxx25` + \"?utm_source=leadflow&utm_medium=email&utm_campaign=\" + 25.a0fxxxxxxxxx4c4b7c.label + \"-\" + replace(12.f4cxxxxxxxxxxxxxxxxxxxf228; \"/[^A-Za-z0-9 _-]+/gi\"; \"\") + \"&lead=\" + 10.id + \"&owner=\" + encodeURL(12.owner_id.email)); space; \"\"); \",\"; \"-\"))}}"
                  }
                ]
              },
              "metadata":{
                "designer":{
                  "x":1800,
                  "y":0,
                  "name":"{{fullName}}"
                },
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"text",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"any",
                        "label":"{{connectionLabel}}"
                      }
                    ],
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true,
                    "validate":{
                      "enum":[
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ]
              }
            },
            {
              "id":15,
              "module":"pipedrive:UpdateDeal",
              "version":2,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "mapper":{
                "id":"{{10.id}}",
                "2ezzzzzzzzzzz48bzzzz":"{{16.deck_url}}",
                "vvvvvvvvvvvb4bcccccc":59
              },
              "metadata":{
                "designer":{
                  "x":2100,
                  "y":0,
                  "name":"{{fullName}}"
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:pipedrive-auth,pipedrive-apikey",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "max":3,
                      "min":3
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "open",
                        "won",
                        "lost",
                        "deleted"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "time":false,
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "time":false,
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  }
                ]
              }
            },
            {
              "id":20,
              "module":"util:FunctionSleep",
              "version":1,
              "parameters":{},
              "mapper":{
                "duration":"10"
              },
              "metadata":{
                "designer":{
                  "x":2400,
                  "y":0,
                  "name":"{{fullName}}"
                },
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"uinteger",
                    "label":"{{connectionLabel}}",
                    "required":true,
                    "validate":{
                      "max":300,
                      "min":1
                    }
                  }
                ]
              }
            },
            {
              "id":19,
              "module":"http:ActionSendData",
              "version":3,
              "parameters":{
                "handleErrors":true,
                "useNewZLibDeCompress":true
              },
              "mapper":{
                "ca":"",
                "qs":[],
                "url":"https://hook.eu2.make.com/xxxxxx",
                "gzip":true,
                "method":"post",
                "headers":[],
                "timeout":"",
                "useMtls":false,
                "authPass":"",
                "authUser":"",
                "bodyType":"multipart_form_data",
                "serializeUrl":false,
                "shareCookies":false,
                "parseResponse":false,
                "followRedirect":true,
                "formDataFields":[
                  {
                    "key":"person_id",
                    "value":"{{25.id}}",
                    "fieldType":"text"
                  },
                  {
                    "key":"deal_id",
                    "value":"{{10.id}}",
                    "fieldType":"text"
                  },
                  {
                    "key":"email",
                    "value":"{{25.primary_email}}",
                    "fieldType":"text"
                  },
                  {
                    "key":"org_id",
                    "value":"{{25.org_id.value}}",
                    "fieldType":"text"
                  },
                  {
                    "key":"deck_url",
                    "value":"{{16.deck_url}}",
                    "fieldType":"text"
                  },
                  {
                    "key":"email_mode",
                    "value":"quick_confirm",
                    "fieldType":"text"
                  }
                ],
                "useQuerystring":false,
                "followAllRedirects":false,
                "rejectUnauthorized":true
              },
              "metadata":{
                "designer":{
                  "x":2700,
                  "y":0,
                  "name":"{{fullName}}"
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"hidden"
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"url",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true,
                    "validate":{
                      "enum":[
                        "get",
                        "head",
                        "post",
                        "put",
                        "patch",
                        "delete",
                        "options"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"text",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"text",
                        "label":"{{connectionLabel}}"
                      }
                    ],
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"text",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"text",
                        "label":"{{connectionLabel}}"
                      }
                    ],
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "raw",
                        "x_www_form_urlencoded",
                        "multipart_form_data"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"password",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"uinteger",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "max":300,
                      "min":1
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"cert",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "options":[
                          {
                            "label":"{{connectionLabel}}",
                            "value":"text",
                            "nested":[
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}"
                              }
                            ]
                          },
                          {
                            "label":"{{connectionLabel}}",
                            "value":"file",
                            "nested":[
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"buffer",
                                "label":"{{connectionLabel}}",
                                "semantic":"file:data"
                              },
                              {
                                "help":"File name, including the suffix, e.g. invoice, xml",
                                "name":"{{fullName}}",
                                "type":"filename",
                                "label":"{{connectionLabel}}",
                                "semantic":"file:name"
                              }
                            ]
                          }
                        ],
                        "required":true
                      }
                    ],
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "advanced":true
              },
              "onerror":[
                {
                  "id":21,
                  "module":"builtin:Break",
                  "version":1,
                  "parameters":{},
                  "mapper":{
                    "count":"2",
                    "retry":true,
                    "interval":"3"
                  },
                  "metadata":{
                    "designer":{
                      "x":3000,
                      "y":0
                    },
                    "expect":[
                      {
                        "name":"{{fullName}}",
                        "type":"boolean",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"uinteger",
                        "label":"{{connectionLabel}}",
                        "required":true,
                        "validate":{
                          "max":10000,
                          "min":1
                        }
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"uinteger",
                        "label":"{{connectionLabel}}",
                        "required":true,
                        "validate":{
                          "max":44640,
                          "min":1
                        }
                      }
                    ]
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "metadata":{
    "instant":false,
    "version":1,
    "scenario":{
      "roundtrips":1,
      "maxErrors":3,
      "autoCommit":true,
      "autoCommitTriggerLast":true,
      "sequential":false,
      "slots":null,
      "confidential":false,
      "dataloss":false,
      "dlq":true,
      "freshVariables":false
    },
    "designer":{
      "orphans":[]
    },
    "zone":"eu2.make.com",
    "notes":[]
  }
}