inbound-automation-engine/05_ai_outreach_message.json
{
  "name":"{{fullName}}",
  "flow":[
    {
      "id":4,
      "module":"gateway:CustomWebHook",
      "version":1,
      "parameters":{
        "hook":3141961,
        "maxResults":1
      },
      "mapper":{},
      "metadata":{
        "designer":{
          "x":0,
          "y":0
        },
        "parameters":[
          {
            "name":"{{fullName}}",
            "type":"hook:gateway-webhook",
            "label":"{{connectionLabel}}",
            "required":true
          },
          {
            "name":"{{fullName}}",
            "type":"number",
            "label":"{{connectionLabel}}"
          }
        ],
        "advanced":true
      }
    },
    {
      "id":5,
      "module":"pipedrive:searchPersons",
      "version":2,
      "parameters":{
        "__IMTCONN__":{{redactedPhone}}
      },
      "filter":{
        "name":"{{fullName}}",
        "conditions":[
          [
            {
              "a":"{{4.person_id}}",
              "o":"exist"
            }
          ]
        ]
      },
      "mapper":{
        "term":"{{ifempty(4.email; 4.person_id)}}",
        "limit":"1",
        "fields":[
          "custom_fields",
          "notes",
          "email",
          "phone",
          "name"
        ],
        "organization_id":"{{ifempty(4.org_id; ignore)}}"
      },
      "metadata":{
        "designer":{
          "x":300,
          "y":0
        },
        "parameters":[
          {
            "name":"{{fullName}}",
            "type":"account:pipedrive-auth,pipedrive-apikey",
            "label":"{{connectionLabel}}",
            "required":true
          }
        ],
        "expect":[
          {
            "name":"{{fullName}}",
            "type":"text",
            "label":"{{connectionLabel}}",
            "required":true
          },
          {
            "name":"{{fullName}}",
            "type":"select",
            "label":"{{connectionLabel}}",
            "multiple":true,
            "validate":{
              "enum":[
                "custom_fields",
                "notes",
                "email",
                "phone",
                "name"
              ]
            }
          },
          {
            "name":"{{fullName}}",
            "type":"boolean",
            "label":"{{connectionLabel}}"
          },
          {
            "name":"{{fullName}}",
            "type":"select",
            "label":"{{connectionLabel}}"
          },
          {
            "name":"{{fullName}}",
            "type":"uinteger",
            "label":"{{connectionLabel}}"
          }
        ]
      }
    },
    {
      "id":8,
      "module":"pipedrive:GetPerson",
      "version":2,
      "parameters":{
        "__IMTCONN__":{{redactedPhone}}
      },
      "mapper":{
        "id":"{{ifempty(4.person_id; 5.id)}}"
      },
      "metadata":{
        "designer":{
          "x":600,
          "y":-150
        },
        "parameters":[
          {
            "name":"{{fullName}}",
            "type":"account:pipedrive-auth,pipedrive-apikey",
            "label":"{{connectionLabel}}",
            "required":true
          }
        ],
        "expect":[
          {
            "name":"{{fullName}}",
            "type":"number",
            "label":"{{connectionLabel}}",
            "required":true
          }
        ]
      }
    },
    {
      "id":9,
      "module":"json:ParseJSON",
      "version":1,
      "parameters":{
        "type":416864
      },
      "mapper":{
        "json":"{{8.`4xxxxxxxxxxxxxxxxxxxxx0`}}"
      },
      "metadata":{
        "designer":{
          "x":981,
          "y":-9
        },
        "parameters":[
          {
            "name":"{{fullName}}",
            "type":"udt",
            "label":"{{connectionLabel}}"
          }
        ],
        "expect":[
          {
            "name":"{{fullName}}",
            "type":"text",
            "label":"{{connectionLabel}}",
            "required":true
          }
        ]
      },
      "onerror":[
        {
          "id":18,
          "module":"builtin:Resume",
          "version":1,
          "parameters":{},
          "mapper":{
            "lead":{
              "email":"{{8.owner_id.email}}",
              "last_name":"{{lastName}}",
              "first_name":"{{firstName}}",
              "company_name":"{{companyName}}",
              "linkedin_url":"",
              "company_domain":""
            },
            "source":"{{8.a0xxxxxxxxxxxxxxxx7c.label}}",
            "analysis":{
              "news":[],
              "risks":[],
              "fit_band":"",
              "industry":"{{industry}}",
              "deck_slug":"",
              "fit_score":"",
              "size_band":"",
              "hq_country":"",
              "key_signals":[],
              "data_sources":[],
              "missing_fields":[],
              "seniority_band":"",
              "company_overview":""
            }
          },
          "metadata":{
            "designer":{
              "x":1281,
              "y":141
            },
            "expect":[
              {
                "name":"{{fullName}}",
                "type":"text",
                "label":"{{connectionLabel}}"
              },
              {
                "name":"{{fullName}}",
                "spec":[
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  }
                ],
                "type":"collection",
                "label":"{{connectionLabel}}"
              },
              {
                "name":"{{fullName}}",
                "spec":[
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "type":"text"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "type":"text"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "type":"text"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "type":"text"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "type":"text"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  }
                ],
                "type":"collection",
                "label":"{{connectionLabel}}"
              }
            ]
          }
        }
      ]
    },
    {
      "id":17,
      "module":"util:SetVariables",
      "version":1,
      "parameters":{},
      "mapper":{
        "scope":"roundtrip",
        "variables":[
          {
            "name":"{{fullName}}",
            "value":"{{replace(first(split(last(split(8.customRaw.`47vvvvvvvvvvvvvvvv0`; \"\\\"\"key_signals\\\"\"\")); \"news\")); \":\"; \"\")}}"
          },
          {
            "name":"{{fullName}}",
            "value":"{{replace(first(split(last(split(8.customRaw.`47xxxxxxxxxxxxxx20`; \"\\\"\"news\\\"\"\")); \"\\\"\"risks\\\"\"\")); \":\"; \"\")}}"
          }
        ]
      },
      "metadata":{
        "designer":{
          "x":1281,
          "y":-159
        },
        "expect":[
          {
            "name":"{{fullName}}",
            "spec":[
              {
                "name":"{{fullName}}",
                "type":"text",
                "label":"{{connectionLabel}}",
                "required":true
              },
              {
                "name":"{{fullName}}",
                "type":"any",
                "label":"{{connectionLabel}}"
              }
            ],
            "type":"array",
            "label":"{{connectionLabel}}"
          },
          {
            "name":"{{fullName}}",
            "type":"select",
            "label":"{{connectionLabel}}",
            "required":true,
            "validate":{
              "enum":[
                "roundtrip",
                "execution"
              ]
            }
          }
        ]
      }
    },
    {
      "id":11,
      "module":"builtin:BasicRouter",
      "version":1,
      "mapper":null,
      "metadata":{
        "designer":{
          "x":2008,
          "y":-14
        }
      },
      "routes":[
        {
          "flow":[
            {
              "id":6,
              "module":"openai-gpt-3:createModelResponse",
              "version":1,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{8.primary_email}}",
                      "o":"exist"
                    }
                  ],
                  [
                    {
                      "a":"{{8.email[1].value}}",
                      "o":"exist"
                    }
                  ]
                ]
              },
              "mapper":{
                "input":"## INPUTS\n-- recipient_name: {{8.first_name}}\r\n-- company: {{8.org_id.name}}\r\n-- industry:  {{8.`97cccccccccccc4`}}\r\n-- deck_name: {{8.customRaw.`36ccccccccccc5`}}\r\n-- deck_url: {{4.deck_url}}\r\n-- calendly_link: {{externalUrl}} key_signals: {{ifempty(9.analysis.key_signals; 17.key_signals)}}\n      -- ignore any special characters like \"\\n\",\"\\r\". \n- recent news: {{ifempty(9.analysis.news; 17.news)}}\n    -- ignore special characters like \\n,\\r. \n-- mode: quick_confirm  \r\n-- tone_hint: warm and succinct\n-- Sender Name : {{8.org_id.owner_name}}\n-- case_study_snippets:\r\n     -- ** Company **: Protein Works\n         - Soundtrack to your Summer: \n            - {{redacted}} company’ sound‑first summer campaign for Protein Works turned sensory experience into storytelling, 15 social clips that blend crisp product visuals with immersive soundscapes to make you feel flavour before you taste it.\n\n       -- ** Company **: Manchester Pride\n            - I Choose Kindness:\n              - {{redacted}} company’ ‘I Choose Kindness’ campaign for Manchester Pride blends intimate studio interviews and mobile‑first social storytelling to spotlight LGBTQ+ resilience amid rising hate crimes, culminating in a cinematic aftermovie that unites, uplifts, and fuels change.\n\n       -- ** Company **: Harbour\n           -- A Better Future:\n               - {{redacted}} company crafted Harbour’s brand-launch film by weaving a historic, emotional narrative, juxtaposing archival banking imagery with sleek, modern visuals, to position the fintech startup as a beacon of transparency in finance, built for crypto natives.\n\n       -- ** Company **: 3-1-5 Health Club\n            - It’s Time to SWEAT:\n            - {{redacted}} company turned 3-1-5 Health Club’s new high-intensity SWEAT studio into a multisensory visual punch, capturing heartbeat-driven sound design, vibrant slow-motion 5K action, and nightclub-like energy to immerse millennials and Gen Z in the thrill of their first sweaty class.\n\r\n-- last_communication_context:\n   {{if((contains(5.notes[1]; \" Last Sent Message\") | contains(5.notes[1]; \"Contact Message\") | contains(5.notes[1]; \"Last Received Message\r\n\")); \"-- \" + 5.notes[1]; ignore)}}\n\nOUTPUT should be JSON as explained in the Instructions. \r\n",
                "model":"gpt-5-mini",
                "store":true,
                "format":{
                  "type":"json_object"
                },
                "reasoning":{
                  "effort":"medium"
                },
                "background":false,
                "truncation":"disabled",
                "tool_choice":"none",
                "instructions":"role: email_generation_assistant\r\n\ninstructions: |\r\n  You generate first-touch sales emails for {{redacted}} company.\r\n\r\n  ## Style\r\n  - British spelling\r\n  - Warm but professional tone (not salesy)\r\n  - Length: 90–130 words\r\n\r\n  ## Output\r\n  - Always output valid JSON:\r\n    {\r\n      \"subject\": \"string\",\r\n      \"body_text\": \"string\"\r\n    }\n\n##Body\n  -- Use <br> for new lines\r\n  -- Do not add special characters like `\\n` in body_text\r\n  -- Do not include a signature block\n\r\n  ## Subject\r\n  - One clear line that references the recipient’s industry or desired outcome\r\n\r\n  ## Links\r\n  - Always include exactly one Calendly link\r\n  - Include the deck link only in `value_followup` and `meeting_confirm`\r\n\r\n  ## Modes\r\n  - `quick_confirm`:\r\n    * Acknowledge the enquiry or interest naturally, based on the `last_communication_context`.\n    * Invite to book via Calendly\r\n    * Include a one-liner relevant case study snippet, and choose the best fit.\n    * No deck\n\r\n  - `value_followup`:\r\n    * Use one key signal or recent news as a natural hook\r\n    * Share the industry deck link\r\n    * Invite to book\r\n    * Mention one concrete way we help similar companies\n\r\n  - `meeting_confirm`:\r\n    * Confirm the booked slot\r\n    * Share the deck as a 2-minute pre-read\r\n    * Add one prep question\r\n\r\n  ## Key signals usage\r\n  - Use `key_signals` (and recent news if available) to naturally generate \n     -- one_line_opportunity     // e.g., “PDP video for new DTC range”\n     -- optional one-liner hook, nugget, e.g., “saw your Series A in {{redacted}}” or null\n     -- Keep hooks factual and concise — no fluff or guesses.\n\n\n\n## Example email generations \r\n\nExample 1. Mode: `quick_confirm` (immediate)\r\n{\r\n  \"subject\": \"Next step on {{industry}} content for {{company}}\",\r\n  \"body_text\": \"Hi {{recipient_name}},\\n\\nThanks for reaching out. Quick next step: here’s my Calendly so we can map the brief and outcomes together: {{calendly_link}}.\\n\\nWe typically help {{industry}} teams turn strategy into assets that actually move the dial—fast. Recent example: {{case_study_snippet}}.\\n\\nIf you’d rather send a couple of times instead, hit reply and I’ll lock one in.\\n\\nCheers,\\n{{redacted}}\\nManaging Director, {{redacted}} company\"\r\n}\r\n\nExample 2. Mode: `value_followup` (send 7–15 min later)\r\n{\r\n  \"subject\": \"{{industry}}: a short pre-read for {{company}}\",\r\n  \"body_text\": \"Hi {{recipient_name}},\\n\\n{{observed_nugget}}{{?}}{{observed_nugget + \" — \"}}{{:}}here’s a 2-minute pre-read that shows how we approach {{industry}} briefs: {{deck_name}} → {{deck_url}}.\\n\\nTypical path with teams like yours: align on the outcome, run a rapid Truth Hunt, then build a lean set of assets for web, social and paid that actually work. Case in point: {{case_study_snippet}}.\\n\\nFancy a quick chat to see if there’s a fit? Grab a slot here: {{calendly_link}}.\\n\\nBest,\\n{{redacted}}\\nManaging Director, {{redacted}} company\"\r\n}\r\n\r\n\nExample 3. Mode: `meeting_confirm` (after Calendly fires)\r\n{\r\n  \"subject\": \"Booked — quick pre-read before we speak\",\r\n  \"body_text\": \"Hi {{recipient_name}},\\n\\nGreat — I’ve got our slot in the diary. To make the most of it, here’s a short deck that shows how we tackle briefs: {{deck_name}} → {{deck_url}}.\\n\\nOne prep question: if we could only nail one outcome this quarter, would you pick awareness lift, lead quality, or conversion on a specific page?\\n\\nSpeak soon,\\n{{redacted}}\\nManaging Director, {{redacted}} company\"\r\n}\r\n\n## Subject line ideas (steal these)\r\n-- “{{industry}} results without the fluff”\r\n\r\n-- “A fast path to assets that perform for {{company}}”\r\n\r\n-- “Pre-read: how we ship {{industry}} campaigns that work”\r\n",
                "inputContentType":"text",
                "createConversation":true,
                "parallel_tool_calls":true
              },
              "metadata":{
                "designer":{
                  "x":2308,
                  "y":-164
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:openai-gpt-3",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true,
                    "validate":{
                      "enum":[
                        "text",
                        "image",
                        "file",
                        "prompt",
                        "items"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"integer",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "spec":[
                        {
                          "name":"{{fullName}}",
                          "type":"select",
                          "label":"{{connectionLabel}}",
                          "options":[
                            {
                              "label":"{{connectionLabel}}",
                              "value":"file_search",
                              "nested":[
                                {
                                  "help":"The IDs of the vector stores to search.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":"rpc://openai-gpt-3/1/getVectorStores",
                                  "multiple":true,
                                  "required":true,
                                  "validate":{
                                    "maxItems":2
                                  }
                                },
                                {
                                  "help":"A filter to apply based on file attributes.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"eq",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"ne",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"gt",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"gte",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"lt",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"lte",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"and",
                                          "nested":[
                                            {
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "spec":[
                                                  {
                                                    "name":"{{fullName}}",
                                                    "type":"select",
                                                    "label":"{{connectionLabel}}",
                                                    "options":[
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"eq"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"ne"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gte"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lte"
                                                      }
                                                    ],
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The key to compare against the value.",
                                                    "name":"{{fullName}}",
                                                    "type":"text",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The value to compare against the attribute key",
                                                    "name":"{{fullName}}",
                                                    "type":"any",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  }
                                                ],
                                                "type":"collection",
                                                "label":"{{connectionLabel}}"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add filter"
                                              },
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"or",
                                          "nested":[
                                            {
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "spec":[
                                                  {
                                                    "name":"{{fullName}}",
                                                    "type":"select",
                                                    "label":"{{connectionLabel}}",
                                                    "options":[
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"eq"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"ne"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gte"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lte"
                                                      }
                                                    ],
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The key to compare against the value.",
                                                    "name":"{{fullName}}",
                                                    "type":"text",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The value to compare against the attribute key",
                                                    "name":"{{fullName}}",
                                                    "type":"any",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  }
                                                ],
                                                "type":"collection",
                                                "label":"{{connectionLabel}}"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add filter"
                                              },
                                              "required":true
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "type":"integer",
                                  "label":"{{connectionLabel}}",
                                  "validate":{
                                    "max":50,
                                    "min":1
                                  }
                                },
                                {
                                  "help":"Ranking options for search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The ranker to use for the file search.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"auto"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"default-{{redactedPhone}}"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"default-{{redactedPhone}}"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                      "name":"{{fullName}}",
                                      "type":"number",
                                      "label":"{{connectionLabel}}",
                                      "validate":{
                                        "max":1,
                                        "min":0
                                      }
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"function",
                              "nested":[
                                {
                                  "help":"The name of the function to call.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"A JSON schema object describing the parameters of the function.",
                                  "name":"{{fullName}}",
                                  "type":"json",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"Whether to enforce strict parameter validation.",
                                  "name":"{{fullName}}",
                                  "type":"boolean",
                                  "label":"{{connectionLabel}}",
                                  "default":true,
                                  "required":true
                                },
                                {
                                  "help":"A description of the function.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"computer_use_preview",
                              "nested":[
                                {
                                  "help":"The height of the computer display.",
                                  "name":"{{fullName}}",
                                  "type":"number",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The width of the computer display.",
                                  "name":"{{fullName}}",
                                  "type":"number",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The type of computer environment to control.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"windows"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"mac"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"linux"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"browser"
                                    }
                                  ],
                                  "required":true
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"web_search_preview",
                              "nested":[
                                {
                                  "help":"High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"low"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"medium"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"high"
                                    }
                                  ]
                                },
                                {
                                  "help":"Approximate location parameters for the search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The type of location approximation.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"approximate"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The city of the user, e.g. `San Francisco`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The two-letter ISO country code of the user, e.g. `US`.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":"rpc://openai-gpt-3/1/getCountryCodes"
                                    },
                                    {
                                      "help":"The region of the user, e.g. `California`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The timezone of the user, e.g. `America/Los_Angeles`.",
                                      "name":"{{fullName}}",
                                      "type":"timezone",
                                      "label":"{{connectionLabel}}"
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"web_search_preview_2025_03_11",
                              "nested":[
                                {
                                  "help":"High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"low"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"medium"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"high"
                                    }
                                  ]
                                },
                                {
                                  "help":"Approximate location parameters for the search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The type of location approximation.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"approximate"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The city of the user, e.g. `San Francisco`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The two-letter ISO country code of the user, e.g. `US`.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":"rpc://openai-gpt-3/1/getCountryCodes"
                                    },
                                    {
                                      "help":"The region of the user, e.g. `California`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The timezone of the user, e.g. `America/Los_Angeles`.",
                                      "name":"{{fullName}}",
                                      "type":"timezone",
                                      "label":"{{connectionLabel}}"
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"mcp",
                              "nested":[
                                {
                                  "text":"MCP requests will automatically be approved.",
                                  "type":"banner",
                                  "theme":"info"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "type":"hidden",
                                  "label":"{{connectionLabel}}",
                                  "default":"never"
                                },
                                {
                                  "help":"A label for this MCP server, used to identify it in tool calls.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The URL for the MCP server.",
                                  "name":"{{fullName}}",
                                  "type":"url",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"List of allowed tool names.",
                                  "name":"{{fullName}}",
                                  "spec":{
                                    "type":"text",
                                    "label":"{{connectionLabel}}"
                                  },
                                  "type":"array",
                                  "label":"{{connectionLabel}}",
                                  "labels":{
                                    "add":"Add allowed tool"
                                  }
                                },
                                {
                                  "help":"Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                  "name":"{{fullName}}",
                                  "spec":{
                                    "spec":[
                                      {
                                        "name":"{{fullName}}",
                                        "type":"text",
                                        "label":"{{connectionLabel}}"
                                      },
                                      {
                                        "name":"{{fullName}}",
                                        "type":"text",
                                        "label":"{{connectionLabel}}"
                                      }
                                    ],
                                    "type":"collection",
                                    "label":"{{connectionLabel}}"
                                  },
                                  "type":"array",
                                  "label":"{{connectionLabel}}",
                                  "labels":{
                                    "add":"Add header"
                                  }
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"code_interpreter",
                              "nested":[
                                {
                                  "help":"**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"existing_container",
                                      "nested":[
                                        {
                                          "name":"{{fullName}}",
                                          "type":"select",
                                          "label":"{{connectionLabel}}",
                                          "options":{
                                            "store":"rpc://openai-gpt-3/1/getContainers"
                                          },
                                          "mappable":{
                                            "help":"Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                          },
                                          "required":true
                                        }
                                      ]
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"new_container",
                                      "nested":[
                                        {
                                          "name":"{{fullName}}",
                                          "spec":[
                                            {
                                              "help":"An optional list of uploaded files to make available to your code.",
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "type":"select",
                                                "label":"{{connectionLabel}}",
                                                "options":"rpc://openai-gpt-3/1/getFiles"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add file ID"
                                              }
                                            }
                                          ],
                                          "type":"collection",
                                          "label":"{{connectionLabel}}"
                                        }
                                      ]
                                    }
                                  ],
                                  "required":true
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"custom",
                              "nested":[
                                {
                                  "help":"The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"Description of the custom tool, used to provide more context.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"text"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"grammar",
                                          "nested":[
                                            {
                                              "help":"The syntax of the grammar definition.",
                                              "name":"{{fullName}}",
                                              "type":"select",
                                              "label":"{{connectionLabel}}",
                                              "options":[
                                                {
                                                  "label":"{{connectionLabel}}",
                                                  "value":"lark"
                                                },
                                                {
                                                  "label":"{{connectionLabel}}",
                                                  "value":"regex"
                                                }
                                              ],
                                              "required":true
                                            },
                                            {
                                              "help":"The grammar definition.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            }
                          ],
                          "required":true
                        }
                      ],
                      "type":"collection",
                      "label":"{{connectionLabel}}"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "none",
                        "auto",
                        "required",
                        "file_search",
                        "web_search_preview",
                        "computer_use_preview",
                        "code_interpreter",
                        "function",
                        "custom",
                        "allowed_tools"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "max":2,
                      "min":0
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "minimal",
                            "low",
                            "medium",
                            "high"
                          ]
                        }
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "auto",
                            "concise",
                            "detailed"
                          ]
                        }
                      }
                    ],
                    "type":"collection",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "text",
                            "json_schema",
                            "json_object"
                          ]
                        }
                      }
                    ],
                    "type":"collection",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "auto",
                        "disabled"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "multiple":true,
                    "validate":{
                      "enum":[
                        "file_search_call.results",
                        "code_interpreter_call.outputs",
                        "message.input_image.image_url",
                        "computer_call_output.output.image_url"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "spec":[
                        {
                          "name":"{{fullName}}",
                          "type":"text",
                          "label":"{{connectionLabel}}"
                        },
                        {
                          "name":"{{fullName}}",
                          "type":"text",
                          "label":"{{connectionLabel}}"
                        }
                      ],
                      "type":"collection",
                      "label":"{{connectionLabel}}"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  }
                ],
                "advanced":true
              }
            },
            {
              "id":10,
              "module":"pipedrive:CreateActivity",
              "version":2,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{6.status}}",
                      "b":"completed",
                      "o":"text:equal:ci"
                    }
                  ]
                ]
              },
              "mapper":{
                "done":false,
                "note":"{{6.result.body_text}}",
                "type":"email",
                "org_id":"{{8.org_id.value}}",
                "deal_id":"{{4.deal_id}}",
                "due_d_t":"{{addMinutes(now; 90)}}",
                "subject":"{{6.result.subject}}",
                "user_id":"{{8.owner_id.id}}",
                "person_id":"{{8.id}}"
              },
              "metadata":{
                "designer":{
                  "x":2732,
                  "y":-14
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:pipedrive-auth,pipedrive-apikey",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"time",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"uuid",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"number",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"boolean",
                        "label":"{{connectionLabel}}"
                      }
                    ],
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow":[
            {
              "id":12,
              "module":"openai-gpt-3:createModelResponse",
              "version":1,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{8.primary_email}}",
                      "o":"notexist"
                    }
                  ],
                  [
                    {
                      "a":"{{8.email[1].value}}",
                      "o":"notexist"
                    }
                  ]
                ]
              },
              "mapper":{
                "input":"## INPUTS\n-- recipient_name: {{8.first_name}}\r\n-- company: {{8.org_id.name}}\r\n-- industry:  {{8.`976assddddddddddddd`}}\r\n-- deck_name: {{8.customRaw.`36cdddddddddddddd`}}\r\n-- deck_url: {{4.deck_url}}\r\n-- calendly_link: {{externalUrl}} key_signals: {{ifempty(9.analysis.key_signals; 17.key_signals)}}\n      -- ignore any special characters like \"\\n\",\"\\r\". \n-- recent news: {{ifempty(9.analysis.news; 17.news)}}\n    -- ignore any special characters like \"\\n\",\"\\r\". \n-- mode: quick_confirm  \r\n-- tone_hint: warm and succinct\n-- Sender Name : {{8.org_id.owner_name}}\n-- case_study_snippets:\r\n     -- ** Company **: Protein Works\n         - Soundtrack to your Summer: \n            - {{redacted}} company’ sound‑first summer campaign for Protein Works turned sensory experience into storytelling, 15 social clips that blend crisp product visuals with immersive soundscapes to make you feel flavour before you taste it.\n\n       -- ** Company **: Manchester Pride\n            - I Choose Kindness:\n              - {{redacted}} company’ ‘I Choose Kindness’ campaign for Manchester Pride blends intimate studio interviews and mobile‑first social storytelling to spotlight LGBTQ+ resilience amid rising hate crimes, culminating in a cinematic aftermovie that unites, uplifts, and fuels change.\n\n       -- ** Company **: Harbour\n           -- A Better Future:\n               - {{redacted}} company crafted Harbour’s brand-launch film by weaving a historic, emotional narrative, juxtaposing archival banking imagery with sleek, modern visuals, to position the fintech startup as a beacon of transparency in finance, built for crypto natives.\n\n       -- ** Company **: 3-1-5 Health Club\n            - It’s Time to SWEAT:\n            - {{redacted}} company turned 3-1-5 Health Club’s new high-intensity SWEAT studio into a multisensory visual punch, capturing heartbeat-driven sound design, vibrant slow-motion 5K action, and nightclub-like energy to immerse millennials and Gen Z in the thrill of their first sweaty class.\n\r\n-- last_communication_context:\n   {{if((contains(5.notes[1]; \" Last Sent Message\") | contains(5.notes[1]; \"Contact Message\") | contains(5.notes[1]; \"Last Received Message\r\n\")); \"-- \" + 5.notes[1]; ignore)}}\n\nOUTPUT should be JSON as explained in the Instructions. \r\n",
                "model":"gpt-5-mini",
                "store":true,
                "format":{
                  "type":"json_object"
                },
                "reasoning":{
                  "effort":"medium"
                },
                "background":false,
                "truncation":"disabled",
                "tool_choice":"none",
                "instructions":"role: linkedin_message_generation_assistant\r\n\ninstructions: |\r\n  You generate a first-touch LinkedIn sales message for {{redacted}} company.\r\n\r\n  ## Style\r\n  - British spelling\r\n  - Warm but professional tone (not salesy)\r\n  - Length: 80–130 words (Total length must not exceed 1200 characters)\n  - Short, natural, and conversational.  \r\n  - Use line breaks sparingly (1–2 max).  Use `<br>` for line breaks if necessary.\r\n  - Keep it concise, easy to scan, and friendly.  \r\n\r\n  ## Output\r\n  - Always output valid JSON:\r\n    {\r\n      \"subject\": \"string\",\r\n      \"body_text\": \"string\"\r\n    }\n\n##Body\n  -- Do not add special characters like `\\n` in body_text\r\n  -- Do not include a signature block as this is a {{leadSource}}, not an email.\n- Do NOT include HTML tags such as <a> or inline styles.  \r\n- Always return URLs as plain text only.  \n\r\n  ## Subject\r\n  - One clear line that references the recipient’s industry or desired outcome\r\n\r\n  ## Links\r\n  - Always include exactly one Calendly link\r\n \r\n\r\n  ## Modes\r\n  - `quick_confirm`:\r\n    * Acknowledge the enquiry or interest naturally, based on the `last_communication_context`.\n    * Invite to book via Calendly\r\n    * Include a one-liner relevant case study snippet, and choose the best fit.\n    * Share the industry deck link\n\r\n  - `value_followup`:\r\n    * Use one key signal or recent news as a natural hook\r\n    * Share the industry deck link\r\n    * Invite to book\r\n    * Mention one concrete way we help similar companies\n\r\n  - `meeting_confirm`:\r\n    * Confirm the booked slot\r\n    * Share the deck as a 2-minute pre-read\r\n    * Add one prep question\r\n\r\n  ## Key signals usage\r\n  - Use `key_signals` (and recent news if available) to naturally generate \n     -- one_line_opportunity     // e.g., “PDP video for new DTC range”\n     -- optional one-liner hook, nugget, e.g., “saw your Series A in {{redacted}}” or null\n     -- Keep hooks factual and concise — no fluff or guesses.\n\n\n\n## Example Message generations. \n\nThese examples are adapted from email but **output must read like {{leadSource}}s**:  \r\n\n\nExample 1. Mode: `quick_confirm` (immediate)\r\n{\r\n  \"subject\": \"Next step on {{industry}} content for {{company}}\",\r\n  \"body_text\": \"Hi {{recipient_name}},\\n\\nThanks for reaching out. Quick next step: here’s my Calendly so we can map the brief and outcomes together: {{calendly_link}}.\\n\\nWe typically help {{industry}} teams turn strategy into assets that actually move the dial—fast. Recent example: {{case_study_snippet}}.\\n\\nIf you’d rather send a couple of times instead, hit reply and I’ll lock one in.\"\r\n}\r\n\nExample 2. Mode: `value_followup` (send 7–15 min later)\r\n{\r\n  \"subject\": \"{{industry}}: a short pre-read for {{company}}\",\r\n  \"body_text\": \"Hi {{recipient_name}},\\n\\n{{observed_nugget}}{{?}}{{observed_nugget + \" — \"}}{{:}}here’s a 2-minute pre-read that shows how we approach {{industry}} briefs: {{deck_name}} → {{deck_url}}.\\n\\nTypical path with teams like yours: align on the outcome, run a rapid Truth Hunt, then build a lean set of assets for web, social and paid that actually work. Case in point: {{case_study_snippet}}.\\n\\nFancy a quick chat to see if there’s a fit? Grab a slot here: {{calendly_link}}.\"\r\n}\r\n\r\n\nExample 3. Mode: `meeting_confirm` (after Calendly fires)\r\n{\r\n  \"subject\": \"Booked — quick pre-read before we speak\",\r\n  \"body_text\": \"Hi {{recipient_name}},\\n\\nGreat — I’ve got our slot in the diary. To make the most of it, here’s a short deck that shows how we tackle briefs: {{deck_name}} → {{deck_url}}.\\n\\nOne prep question: if we could only nail one outcome this quarter, would you pick awareness lift, lead quality, or conversion on a specific page?\\n\\nSpeak soon,\\n{{redacted}}\"\r\n}\r\n\nExample 4.\n{\r\n  \"subject\": \"Next step on {{industry}} content for {{company}}\",\n \"body_text\": \"Hi {{recipient_name}} , thanks for getting in touch — really appreciate the note. Quick next step: book a 30-minute creative strategy workshop so we can map the brief, outcomes and timings together: {{externalUrl}} We specialise in helping Tech & SaaS teams turn product narratives into lean, repurposable video and social assets that improve awareness and conversion; for example, we crafted Harbour’s brand-launch film to position a fintech startup as a beacon of transparency. If it helps, here’s a short deck on our Tech & SaaS approach: {{deck_url}}. If that slot won’t work, send a couple of times and I’ll lock one in.\"\n\n## Subject line ideas (steal these)\r\n-- “{{industry}} results without the fluff”\r\n\r\n-- “A fast path to assets that perform for {{company}}”\r\n\r\n-- “Pre-read: how we ship {{industry}} campaigns that work”\r\n",
                "inputContentType":"text",
                "createConversation":true,
                "parallel_tool_calls":true
              },
              "metadata":{
                "designer":{
                  "x":2357,
                  "y":300
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:openai-gpt-3",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true,
                    "validate":{
                      "enum":[
                        "text",
                        "image",
                        "file",
                        "prompt",
                        "items"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"integer",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "spec":[
                        {
                          "name":"{{fullName}}",
                          "type":"select",
                          "label":"{{connectionLabel}}",
                          "options":[
                            {
                              "label":"{{connectionLabel}}",
                              "value":"file_search",
                              "nested":[
                                {
                                  "help":"The IDs of the vector stores to search.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":"rpc://openai-gpt-3/1/getVectorStores",
                                  "multiple":true,
                                  "required":true,
                                  "validate":{
                                    "maxItems":2
                                  }
                                },
                                {
                                  "help":"A filter to apply based on file attributes.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"eq",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"ne",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"gt",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"gte",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"lt",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"lte",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"and",
                                          "nested":[
                                            {
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "spec":[
                                                  {
                                                    "name":"{{fullName}}",
                                                    "type":"select",
                                                    "label":"{{connectionLabel}}",
                                                    "options":[
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"eq"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"ne"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gte"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lte"
                                                      }
                                                    ],
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The key to compare against the value.",
                                                    "name":"{{fullName}}",
                                                    "type":"text",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The value to compare against the attribute key",
                                                    "name":"{{fullName}}",
                                                    "type":"any",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  }
                                                ],
                                                "type":"collection",
                                                "label":"{{connectionLabel}}"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add filter"
                                              },
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"or",
                                          "nested":[
                                            {
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "spec":[
                                                  {
                                                    "name":"{{fullName}}",
                                                    "type":"select",
                                                    "label":"{{connectionLabel}}",
                                                    "options":[
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"eq"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"ne"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gte"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lte"
                                                      }
                                                    ],
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The key to compare against the value.",
                                                    "name":"{{fullName}}",
                                                    "type":"text",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The value to compare against the attribute key",
                                                    "name":"{{fullName}}",
                                                    "type":"any",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  }
                                                ],
                                                "type":"collection",
                                                "label":"{{connectionLabel}}"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add filter"
                                              },
                                              "required":true
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "type":"integer",
                                  "label":"{{connectionLabel}}",
                                  "validate":{
                                    "max":50,
                                    "min":1
                                  }
                                },
                                {
                                  "help":"Ranking options for search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The ranker to use for the file search.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"auto"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"default-{{redactedPhone}}"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"default-{{redactedPhone}}"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                      "name":"{{fullName}}",
                                      "type":"number",
                                      "label":"{{connectionLabel}}",
                                      "validate":{
                                        "max":1,
                                        "min":0
                                      }
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"function",
                              "nested":[
                                {
                                  "help":"The name of the function to call.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"A JSON schema object describing the parameters of the function.",
                                  "name":"{{fullName}}",
                                  "type":"json",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"Whether to enforce strict parameter validation.",
                                  "name":"{{fullName}}",
                                  "type":"boolean",
                                  "label":"{{connectionLabel}}",
                                  "default":true,
                                  "required":true
                                },
                                {
                                  "help":"A description of the function.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"computer_use_preview",
                              "nested":[
                                {
                                  "help":"The height of the computer display.",
                                  "name":"{{fullName}}",
                                  "type":"number",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The width of the computer display.",
                                  "name":"{{fullName}}",
                                  "type":"number",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The type of computer environment to control.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"windows"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"mac"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"linux"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"browser"
                                    }
                                  ],
                                  "required":true
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"web_search_preview",
                              "nested":[
                                {
                                  "help":"High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"low"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"medium"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"high"
                                    }
                                  ]
                                },
                                {
                                  "help":"Approximate location parameters for the search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The type of location approximation.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"approximate"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The city of the user, e.g. `San Francisco`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The two-letter ISO country code of the user, e.g. `US`.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":"rpc://openai-gpt-3/1/getCountryCodes"
                                    },
                                    {
                                      "help":"The region of the user, e.g. `California`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The timezone of the user, e.g. `America/Los_Angeles`.",
                                      "name":"{{fullName}}",
                                      "type":"timezone",
                                      "label":"{{connectionLabel}}"
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"web_search_preview_2025_03_11",
                              "nested":[
                                {
                                  "help":"High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"low"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"medium"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"high"
                                    }
                                  ]
                                },
                                {
                                  "help":"Approximate location parameters for the search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The type of location approximation.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"approximate"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The city of the user, e.g. `San Francisco`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The two-letter ISO country code of the user, e.g. `US`.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":"rpc://openai-gpt-3/1/getCountryCodes"
                                    },
                                    {
                                      "help":"The region of the user, e.g. `California`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The timezone of the user, e.g. `America/Los_Angeles`.",
                                      "name":"{{fullName}}",
                                      "type":"timezone",
                                      "label":"{{connectionLabel}}"
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"mcp",
                              "nested":[
                                {
                                  "text":"MCP requests will automatically be approved.",
                                  "type":"banner",
                                  "theme":"info"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "type":"hidden",
                                  "label":"{{connectionLabel}}",
                                  "default":"never"
                                },
                                {
                                  "help":"A label for this MCP server, used to identify it in tool calls.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The URL for the MCP server.",
                                  "name":"{{fullName}}",
                                  "type":"url",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"List of allowed tool names.",
                                  "name":"{{fullName}}",
                                  "spec":{
                                    "type":"text",
                                    "label":"{{connectionLabel}}"
                                  },
                                  "type":"array",
                                  "label":"{{connectionLabel}}",
                                  "labels":{
                                    "add":"Add allowed tool"
                                  }
                                },
                                {
                                  "help":"Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                  "name":"{{fullName}}",
                                  "spec":{
                                    "spec":[
                                      {
                                        "name":"{{fullName}}",
                                        "type":"text",
                                        "label":"{{connectionLabel}}"
                                      },
                                      {
                                        "name":"{{fullName}}",
                                        "type":"text",
                                        "label":"{{connectionLabel}}"
                                      }
                                    ],
                                    "type":"collection",
                                    "label":"{{connectionLabel}}"
                                  },
                                  "type":"array",
                                  "label":"{{connectionLabel}}",
                                  "labels":{
                                    "add":"Add header"
                                  }
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"code_interpreter",
                              "nested":[
                                {
                                  "help":"**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"existing_container",
                                      "nested":[
                                        {
                                          "name":"{{fullName}}",
                                          "type":"select",
                                          "label":"{{connectionLabel}}",
                                          "options":{
                                            "store":"rpc://openai-gpt-3/1/getContainers"
                                          },
                                          "mappable":{
                                            "help":"Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                          },
                                          "required":true
                                        }
                                      ]
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"new_container",
                                      "nested":[
                                        {
                                          "name":"{{fullName}}",
                                          "spec":[
                                            {
                                              "help":"An optional list of uploaded files to make available to your code.",
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "type":"select",
                                                "label":"{{connectionLabel}}",
                                                "options":"rpc://openai-gpt-3/1/getFiles"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add file ID"
                                              }
                                            }
                                          ],
                                          "type":"collection",
                                          "label":"{{connectionLabel}}"
                                        }
                                      ]
                                    }
                                  ],
                                  "required":true
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"custom",
                              "nested":[
                                {
                                  "help":"The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"Description of the custom tool, used to provide more context.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"text"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"grammar",
                                          "nested":[
                                            {
                                              "help":"The syntax of the grammar definition.",
                                              "name":"{{fullName}}",
                                              "type":"select",
                                              "label":"{{connectionLabel}}",
                                              "options":[
                                                {
                                                  "label":"{{connectionLabel}}",
                                                  "value":"lark"
                                                },
                                                {
                                                  "label":"{{connectionLabel}}",
                                                  "value":"regex"
                                                }
                                              ],
                                              "required":true
                                            },
                                            {
                                              "help":"The grammar definition.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            }
                          ],
                          "required":true
                        }
                      ],
                      "type":"collection",
                      "label":"{{connectionLabel}}"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "none",
                        "auto",
                        "required",
                        "file_search",
                        "web_search_preview",
                        "computer_use_preview",
                        "code_interpreter",
                        "function",
                        "custom",
                        "allowed_tools"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "max":2,
                      "min":0
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "minimal",
                            "low",
                            "medium",
                            "high"
                          ]
                        }
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "auto",
                            "concise",
                            "detailed"
                          ]
                        }
                      }
                    ],
                    "type":"collection",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "text",
                            "json_schema",
                            "json_object"
                          ]
                        }
                      }
                    ],
                    "type":"collection",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "auto",
                        "disabled"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "multiple":true,
                    "validate":{
                      "enum":[
                        "file_search_call.results",
                        "code_interpreter_call.outputs",
                        "message.input_image.image_url",
                        "computer_call_output.output.image_url"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "spec":[
                        {
                          "name":"{{fullName}}",
                          "type":"text",
                          "label":"{{connectionLabel}}"
                        },
                        {
                          "name":"{{fullName}}",
                          "type":"text",
                          "label":"{{connectionLabel}}"
                        }
                      ],
                      "type":"collection",
                      "label":"{{connectionLabel}}"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  }
                ],
                "advanced":true
              }
            },
            {
              "id":13,
              "module":"pipedrive:CreateActivity",
              "version":2,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{12.status}}",
                      "b":"completed",
                      "o":"text:equal:ci"
                    }
                  ]
                ]
              },
              "mapper":{
                "done":false,
                "note":"{{12.result.body_text}}",
                "type":"email",
                "org_id":"{{8.org_id.value}}",
                "deal_id":"{{4.deal_id}}",
                "due_d_t":"{{addMinutes(now; 90)}}",
                "subject":"No Email - {{8.`skdsduuuuuuuuuuu`}}",
                "user_id":"{{8.owner_id.id}}",
                "person_id":"{{8.id}}"
              },
              "metadata":{
                "designer":{
                  "x":2846,
                  "y":300
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:pipedrive-auth,pipedrive-apikey",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"time",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"uuid",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"number",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"boolean",
                        "label":"{{connectionLabel}}"
                      }
                    ],
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata":{
    "instant":true,
    "version":1,
    "scenario":{
      "roundtrips":1,
      "maxErrors":3,
      "autoCommit":true,
      "autoCommitTriggerLast":true,
      "sequential":false,
      "slots":null,
      "confidential":false,
      "dataloss":false,
      "dlq":false,
      "freshVariables":false
    },
    "designer":{
      "orphans":[]
    },
    "zone":"eu2.make.com",
    "notes":[]
  }
}