inbound-automation-engine/06_linkedin_no_email_fallback.json
{
  "name":"{{fullName}}",
  "flow":[
    {
      "id":1,
      "module":"gateway:CustomWebHook",
      "version":1,
      "parameters":{
        "hook":3236807,
        "maxResults":1
      },
      "mapper":{},
      "metadata":{
        "designer":{
          "x":0,
          "y":1350,
          "name":"{{fullName}}"
        },
        "parameters":[
          {
            "name":"{{fullName}}",
            "type":"hook:gateway-webhook",
            "label":"{{connectionLabel}}",
            "required":true
          },
          {
            "name":"{{fullName}}",
            "type":"number",
            "label":"{{connectionLabel}}"
          }
        ]
      }
    },
    {
      "id":7,
      "module":"util:FunctionSleep",
      "version":1,
      "parameters":{},
      "filter":{
        "name":"{{fullName}}",
        "conditions":[
          [
            {
              "a":"{{1.person_id}}",
              "o":"exist"
            },
            {
              "a":"{{1.qc_ft_message}}",
              "o":"exist"
            }
          ]
        ]
      },
      "mapper":{
        "duration":"10"
      },
      "metadata":{
        "designer":{
          "x":300,
          "y":1350,
          "name":"{{fullName}}"
        },
        "expect":[
          {
            "name":"{{fullName}}",
            "type":"uinteger",
            "label":"{{connectionLabel}}",
            "required":true,
            "validate":{
              "max":300,
              "min":1
            }
          }
        ]
      }
    },
    {
      "id":3,
      "module":"pipedrive:GetPerson",
      "version":2,
      "parameters":{
        "__IMTCONN__":{{redactedPhone}}
      },
      "mapper":{
        "id":"{{trim(1.person_id)}}"
      },
      "metadata":{
        "designer":{
          "x":600,
          "y":1350
        },
        "parameters":[
          {
            "name":"{{fullName}}",
            "type":"account:pipedrive-auth,pipedrive-apikey",
            "label":"{{connectionLabel}}",
            "required":true
          }
        ],
        "expect":[
          {
            "name":"{{fullName}}",
            "type":"number",
            "label":"{{connectionLabel}}",
            "required":true
          }
        ]
      },
      "onerror":[
        {
          "id":8,
          "module":"builtin:Break",
          "version":1,
          "parameters":{},
          "mapper":{
            "count":"3",
            "retry":true,
            "interval":"7"
          },
          "metadata":{
            "designer":{
              "x":900,
              "y":2700
            },
            "expect":[
              {
                "name":"{{fullName}}",
                "type":"boolean",
                "label":"{{connectionLabel}}",
                "required":true
              },
              {
                "name":"{{fullName}}",
                "type":"uinteger",
                "label":"{{connectionLabel}}",
                "required":true,
                "validate":{
                  "max":10000,
                  "min":1
                }
              },
              {
                "name":"{{fullName}}",
                "type":"uinteger",
                "label":"{{connectionLabel}}",
                "required":true,
                "validate":{
                  "max":44640,
                  "min":1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "id":9,
      "module":"builtin:BasicRouter",
      "version":1,
      "parameters":{
        "else":1
      },
      "mapper":null,
      "metadata":{
        "designer":{
          "x":900,
          "y":1200
        }
      },
      "routes":[
        {
          "flow":[
            {
              "id":11,
              "module":"openai-gpt-3:createModelResponse",
              "version":1,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{3.`5af18301409a3e139553a4d2d439abe81cc7ffb8`}}",
                      "o":"exist"
                    }
                  ]
                ]
              },
              "mapper":{
                "input":"\r\n## RULES\r\n- Always output valid JSON.\r\n- Always provide values for all placeholders:\r\n  - `qc_ft_chunk1`\r\n  - `qc_ft_chunk2`\r\n  - `{{redacted}}_calendly_url`\r\n  - `qc_ft_chunk3`\r\n  - `qc_ft_chunk4`\r\n  - `deck_url`\r\n  - `qc_ft_close`\r\n- Each placeholder string must be ≤ 290 characters.\r\n- Never split or alter URLs. Place the full Calendly URL into `{{redacted}}_calendly_url` and the full deck URL into `deck_url`.\n- If a Calendly URL or deck URL is not present in the original message, set that field to an empty string \"\".\r\n- Break text into natural, readable parts. Keep it conversational.\n- Keep the tone and meaning intact.\n- No HTML tags (e.g., <a>, <br>). Plain text only.\n- Use British English spelling.\n- Do not hallucinate or make up fake information.\r\n- Only if the text is too long to fit across 4 chunks + close:\r\n  - Prioritise Calendly and deck placeholders.\r\n  - Keep at least one case study/example reference.\r\n  - Summarise or shorten secondary details.\r\n\r\n\r\n## OUTPUT SCHEMA\r\n{\r\n  \"qc_ft_chunk1\": \"string\",\r\n  \"qc_ft_chunk2\": \"string\",\r\n  \"{{redacted}}_calendly_url\": \"string\",\r\n  \"qc_ft_chunk3\": \"string\",\r\n  \"qc_ft_chunk4\": \"string\",\r\n  \"deck_url\": \"string\",\r\n  \"qc_ft_close\": \"string\"\r\n}\r\n\r\n## INPUT\r\n{{1.qc_ft_message}}",
                "model":"gpt-5-mini",
                "format":{
                  "type":"json_object"
                },
                "reasoning":{},
                "background":false,
                "truncation":"disabled",
                "instructions":"## TASK\r\nRewrite the given message into fixed Expandi placeholders.\n\n\n## EXAMPLE INPUT\r\nHi John, thanks for getting in touch — really appreciate the note. Quick next step: book a 30-minute creative strategy workshop so we can map the brief, outcomes and timings together: {{externalUrl}}<br>We specialise in helping Tech & SaaS teams turn product narratives into lean, repurposable video and social assets that improve awareness and conversion; for example, we crafted company's brand-launch film to position a fintech startup as a beacon of transparency. If it helps, here’s a short deck on our Tech & SaaS approach: {{externalUrl}} If that slot won’t work, send a couple of times and I’ll lock one in.\r\n\r\n---\r\n\r\n## EXAMPLE OUTPUT\r\n{\r\n  \"qc_ft_chunk1\": \"Hi Priya, Thanks for getting in touch — really appreciate the note.\",\r\n  \"qc_ft_chunk2\": \"Quick next step: book a 30-minute creative strategy workshop so we can map the brief, outcomes and timings together:\",\r\n  \"{{redacted}}_calendly_url\": \"{{externalUrl}}",\r\n  \"qc_ft_chunk3\": \"<br>We specialise in helping Tech & SaaS teams turn product narratives into lean, repurposable video and social assets that improve awareness and conversion.\",\r\n  \"qc_ft_chunk4\": \"For example, we crafted Harbour’s brand-launch film to position a fintech startup as a beacon of transparency. If it helps, here’s a short deck on our Tech & SaaS approach:\",\r\n  \"deck_url\": \"{{externalUrl}}",\r\n  \"qc_ft_close\": \"If that slot won’t work, send a couple of times and I’ll lock one in.\"\r\n}",
                "inputContentType":"text",
                "createConversation":true
              },
              "metadata":{
                "designer":{
                  "x":1200,
                  "y":1050
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:openai-gpt-3",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "required":true,
                    "validate":{
                      "enum":[
                        "text",
                        "image",
                        "file",
                        "prompt",
                        "items"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"integer",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "spec":[
                        {
                          "name":"{{fullName}}",
                          "type":"select",
                          "label":"{{connectionLabel}}",
                          "options":[
                            {
                              "label":"{{connectionLabel}}",
                              "value":"file_search",
                              "nested":[
                                {
                                  "help":"The IDs of the vector stores to search.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":"rpc://openai-gpt-3/1/getVectorStores",
                                  "multiple":true,
                                  "required":true,
                                  "validate":{
                                    "maxItems":2
                                  }
                                },
                                {
                                  "help":"A filter to apply based on file attributes.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"eq",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"ne",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"gt",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"gte",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"lt",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"lte",
                                          "nested":[
                                            {
                                              "help":"The key to compare against the value.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            },
                                            {
                                              "help":"The value to compare against the attribute key",
                                              "name":"{{fullName}}",
                                              "type":"any",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"and",
                                          "nested":[
                                            {
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "spec":[
                                                  {
                                                    "name":"{{fullName}}",
                                                    "type":"select",
                                                    "label":"{{connectionLabel}}",
                                                    "options":[
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"eq"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"ne"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gte"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lte"
                                                      }
                                                    ],
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The key to compare against the value.",
                                                    "name":"{{fullName}}",
                                                    "type":"text",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The value to compare against the attribute key",
                                                    "name":"{{fullName}}",
                                                    "type":"any",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  }
                                                ],
                                                "type":"collection",
                                                "label":"{{connectionLabel}}"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add filter"
                                              },
                                              "required":true
                                            }
                                          ]
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"or",
                                          "nested":[
                                            {
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "spec":[
                                                  {
                                                    "name":"{{fullName}}",
                                                    "type":"select",
                                                    "label":"{{connectionLabel}}",
                                                    "options":[
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"eq"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"ne"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"gte"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lt"
                                                      },
                                                      {
                                                        "label":"{{connectionLabel}}",
                                                        "value":"lte"
                                                      }
                                                    ],
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The key to compare against the value.",
                                                    "name":"{{fullName}}",
                                                    "type":"text",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  },
                                                  {
                                                    "help":"The value to compare against the attribute key",
                                                    "name":"{{fullName}}",
                                                    "type":"any",
                                                    "label":"{{connectionLabel}}",
                                                    "required":true
                                                  }
                                                ],
                                                "type":"collection",
                                                "label":"{{connectionLabel}}"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add filter"
                                              },
                                              "required":true
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "type":"integer",
                                  "label":"{{connectionLabel}}",
                                  "validate":{
                                    "max":50,
                                    "min":1
                                  }
                                },
                                {
                                  "help":"Ranking options for search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The ranker to use for the file search.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"auto"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"default-{{redactedPhone}}"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"default-{{redactedPhone}}"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                      "name":"{{fullName}}",
                                      "type":"number",
                                      "label":"{{connectionLabel}}",
                                      "validate":{
                                        "max":1,
                                        "min":0
                                      }
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"function",
                              "nested":[
                                {
                                  "help":"The name of the function to call.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"A JSON schema object describing the parameters of the function.",
                                  "name":"{{fullName}}",
                                  "type":"json",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"Whether to enforce strict parameter validation.",
                                  "name":"{{fullName}}",
                                  "type":"boolean",
                                  "label":"{{connectionLabel}}",
                                  "default":true,
                                  "required":true
                                },
                                {
                                  "help":"A description of the function.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"computer_use_preview",
                              "nested":[
                                {
                                  "help":"The height of the computer display.",
                                  "name":"{{fullName}}",
                                  "type":"number",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The width of the computer display.",
                                  "name":"{{fullName}}",
                                  "type":"number",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The type of computer environment to control.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"windows"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"mac"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"linux"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"browser"
                                    }
                                  ],
                                  "required":true
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"web_search_preview",
                              "nested":[
                                {
                                  "help":"High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"low"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"medium"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"high"
                                    }
                                  ]
                                },
                                {
                                  "help":"Approximate location parameters for the search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The type of location approximation.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"approximate"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The city of the user, e.g. `San Francisco`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The two-letter ISO country code of the user, e.g. `US`.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":"rpc://openai-gpt-3/1/getCountryCodes"
                                    },
                                    {
                                      "help":"The region of the user, e.g. `California`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The timezone of the user, e.g. `America/Los_Angeles`.",
                                      "name":"{{fullName}}",
                                      "type":"timezone",
                                      "label":"{{connectionLabel}}"
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"web_search_preview_2025_03_11",
                              "nested":[
                                {
                                  "help":"High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"low"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"medium"
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"high"
                                    }
                                  ]
                                },
                                {
                                  "help":"Approximate location parameters for the search.",
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "help":"The type of location approximation.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"approximate"
                                        }
                                      ]
                                    },
                                    {
                                      "help":"The city of the user, e.g. `San Francisco`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The two-letter ISO country code of the user, e.g. `US`.",
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":"rpc://openai-gpt-3/1/getCountryCodes"
                                    },
                                    {
                                      "help":"The region of the user, e.g. `California`.",
                                      "name":"{{fullName}}",
                                      "type":"text",
                                      "label":"{{connectionLabel}}"
                                    },
                                    {
                                      "help":"The timezone of the user, e.g. `America/Los_Angeles`.",
                                      "name":"{{fullName}}",
                                      "type":"timezone",
                                      "label":"{{connectionLabel}}"
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"mcp",
                              "nested":[
                                {
                                  "text":"MCP requests will automatically be approved.",
                                  "type":"banner",
                                  "theme":"info"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "type":"hidden",
                                  "label":"{{connectionLabel}}",
                                  "default":"never"
                                },
                                {
                                  "help":"A label for this MCP server, used to identify it in tool calls.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"The URL for the MCP server.",
                                  "name":"{{fullName}}",
                                  "type":"url",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"List of allowed tool names.",
                                  "name":"{{fullName}}",
                                  "spec":{
                                    "type":"text",
                                    "label":"{{connectionLabel}}"
                                  },
                                  "type":"array",
                                  "label":"{{connectionLabel}}",
                                  "labels":{
                                    "add":"Add allowed tool"
                                  }
                                },
                                {
                                  "help":"Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                  "name":"{{fullName}}",
                                  "spec":{
                                    "spec":[
                                      {
                                        "name":"{{fullName}}",
                                        "type":"text",
                                        "label":"{{connectionLabel}}"
                                      },
                                      {
                                        "name":"{{fullName}}",
                                        "type":"text",
                                        "label":"{{connectionLabel}}"
                                      }
                                    ],
                                    "type":"collection",
                                    "label":"{{connectionLabel}}"
                                  },
                                  "type":"array",
                                  "label":"{{connectionLabel}}",
                                  "labels":{
                                    "add":"Add header"
                                  }
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"code_interpreter",
                              "nested":[
                                {
                                  "help":"**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                  "name":"{{fullName}}",
                                  "type":"select",
                                  "label":"{{connectionLabel}}",
                                  "options":[
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"existing_container",
                                      "nested":[
                                        {
                                          "name":"{{fullName}}",
                                          "type":"select",
                                          "label":"{{connectionLabel}}",
                                          "options":{
                                            "store":"rpc://openai-gpt-3/1/getContainers"
                                          },
                                          "mappable":{
                                            "help":"Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                          },
                                          "required":true
                                        }
                                      ]
                                    },
                                    {
                                      "label":"{{connectionLabel}}",
                                      "value":"new_container",
                                      "nested":[
                                        {
                                          "name":"{{fullName}}",
                                          "spec":[
                                            {
                                              "help":"An optional list of uploaded files to make available to your code.",
                                              "name":"{{fullName}}",
                                              "spec":{
                                                "type":"select",
                                                "label":"{{connectionLabel}}",
                                                "options":"rpc://openai-gpt-3/1/getFiles"
                                              },
                                              "type":"array",
                                              "label":"{{connectionLabel}}",
                                              "labels":{
                                                "add":"Add file ID"
                                              }
                                            }
                                          ],
                                          "type":"collection",
                                          "label":"{{connectionLabel}}"
                                        }
                                      ]
                                    }
                                  ],
                                  "required":true
                                }
                              ]
                            },
                            {
                              "label":"{{connectionLabel}}",
                              "value":"custom",
                              "nested":[
                                {
                                  "help":"The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}",
                                  "required":true
                                },
                                {
                                  "help":"Description of the custom tool, used to provide more context.",
                                  "name":"{{fullName}}",
                                  "type":"text",
                                  "label":"{{connectionLabel}}"
                                },
                                {
                                  "name":"{{fullName}}",
                                  "spec":[
                                    {
                                      "name":"{{fullName}}",
                                      "type":"select",
                                      "label":"{{connectionLabel}}",
                                      "options":[
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"text"
                                        },
                                        {
                                          "label":"{{connectionLabel}}",
                                          "value":"grammar",
                                          "nested":[
                                            {
                                              "help":"The syntax of the grammar definition.",
                                              "name":"{{fullName}}",
                                              "type":"select",
                                              "label":"{{connectionLabel}}",
                                              "options":[
                                                {
                                                  "label":"{{connectionLabel}}",
                                                  "value":"lark"
                                                },
                                                {
                                                  "label":"{{connectionLabel}}",
                                                  "value":"regex"
                                                }
                                              ],
                                              "required":true
                                            },
                                            {
                                              "help":"The grammar definition.",
                                              "name":"{{fullName}}",
                                              "type":"text",
                                              "label":"{{connectionLabel}}",
                                              "required":true
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ],
                                  "type":"collection",
                                  "label":"{{connectionLabel}}"
                                }
                              ]
                            }
                          ],
                          "required":true
                        }
                      ],
                      "type":"collection",
                      "label":"{{connectionLabel}}"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "none",
                        "auto",
                        "required",
                        "file_search",
                        "web_search_preview",
                        "computer_use_preview",
                        "code_interpreter",
                        "function",
                        "custom",
                        "allowed_tools"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "max":2,
                      "min":0
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "minimal",
                            "low",
                            "medium",
                            "high"
                          ]
                        }
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "auto",
                            "concise",
                            "detailed"
                          ]
                        }
                      }
                    ],
                    "type":"collection",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":[
                      {
                        "name":"{{fullName}}",
                        "type":"select",
                        "label":"{{connectionLabel}}",
                        "validate":{
                          "enum":[
                            "text",
                            "json_schema",
                            "json_object"
                          ]
                        }
                      }
                    ],
                    "type":"collection",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "validate":{
                      "enum":[
                        "auto",
                        "disabled"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"select",
                    "label":"{{connectionLabel}}",
                    "multiple":true,
                    "validate":{
                      "enum":[
                        "file_search_call.results",
                        "code_interpreter_call.outputs",
                        "message.input_image.image_url",
                        "computer_call_output.output.image_url"
                      ]
                    }
                  },
                  {
                    "name":"{{fullName}}",
                    "spec":{
                      "name":"{{fullName}}",
                      "spec":[
                        {
                          "name":"{{fullName}}",
                          "type":"text",
                          "label":"{{connectionLabel}}"
                        },
                        {
                          "name":"{{fullName}}",
                          "type":"text",
                          "label":"{{connectionLabel}}"
                        }
                      ],
                      "type":"collection",
                      "label":"{{connectionLabel}}"
                    },
                    "type":"array",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}"
                  }
                ],
                "advanced":true
              },
              "onerror":[
                {
                  "id":12,
                  "module":"builtin:Break",
                  "version":1,
                  "parameters":{},
                  "mapper":{
                    "count":"2",
                    "retry":true,
                    "interval":"3"
                  },
                  "metadata":{
                    "designer":{
                      "x":1500,
                      "y":2100
                    },
                    "expect":[
                      {
                        "name":"{{fullName}}",
                        "type":"boolean",
                        "label":"{{connectionLabel}}",
                        "required":true
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"uinteger",
                        "label":"{{connectionLabel}}",
                        "required":true,
                        "validate":{
                          "max":10000,
                          "min":1
                        }
                      },
                      {
                        "name":"{{fullName}}",
                        "type":"uinteger",
                        "label":"{{connectionLabel}}",
                        "required":true,
                        "validate":{
                          "max":44640,
                          "min":1
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "id":4,
              "module":"builtin:BasicRouter",
              "version":1,
              "filter":{
                "name":"{{fullName}}",
                "conditions":[
                  [
                    {
                      "a":"{{11.status}}",
                      "b":"completed",
                      "o":"text:equal:ci"
                    }
                  ]
                ]
              },
              "mapper":null,
              "metadata":{
                "designer":{
                  "x":1500,
                  "y":900
                }
              },
              "routes":[
                {
                  "flow":[
                    {
                      "id":5,
                      "module":"http:ActionSendData",
                      "version":3,
                      "parameters":{
                        "handleErrors":false,
                        "useNewZLibDeCompress":true
                      },
                      "filter":{
                        "name":"{{fullName}}",
                        "conditions":[
                          [
                            {
                              "a":"{{3.`4eeennnnkkkkkkkkkkkk`}}",
                              "b":"142598",
                              "o":"text:equal:ci"
                            }
                          ],
                          [
                            {
                              "a":"{{3.`34fffffffffffffffffffff`}}",
                              "o":"notexist"
                            }
                          ]
                        ]
                      },
                      "mapper":{
                        "ca":"",
                        "qs":[],
                        "url":"{{externalUrl}}",
                        "data":"{ \r\n\t\"profile_link\": \"{{3.`3eeeeeeeeeeeeeeee`}}\", \r\n\t\"first_name\": \"{{3.first_name}}\", \r\n\t\"company_name\": \"{{3.org_id.name}}\", \r\n\t\"qc_ft_chunk1\": \"{{11.result.qc_ft_chunk1}}\",\r\n    \"qc_ft_chunk2\": \"{{11.result.qc_ft_chunk2}}\",\r\n    \"{{redacted}}_calendly_url\":\"{{11.result.{{redacted}}_calendly_url}}\",\r\n    \"qc_ft_chunk3\": \"{{11.result.qc_ft_chunk3}}\",\r\n    \"qc_ft_chunk4\": \"{{11.result.qc_ft_chunk4}}\",\r\n    \"deck_url\": \"{{11.result.deck_url}}\",\r\n    \"qc_ft_close\": \"{{11.result.qc_ft_close}}\"\n\r\n}",
                        "gzip":true,
                        "method":"post",
                        "headers":[],
                        "timeout":"",
                        "useMtls":false,
                        "authPass":"",
                        "authUser":"",
                        "bodyType":"raw",
                        "contentType":"application/json",
                        "serializeUrl":false,
                        "shareCookies":false,
                        "parseResponse":true,
                        "followRedirect":true,
                        "useQuerystring":false,
                        "followAllRedirects":false,
                        "rejectUnauthorized":true
                      },
                      "metadata":{
                        "designer":{
                          "x":1800,
                          "y":300,
                          "name":"{{fullName}}"
                        },
                        "parameters":[
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"hidden"
                          }
                        ],
                        "expect":[
                          {
                            "name":"{{fullName}}",
                            "type":"url",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"select",
                            "label":"{{connectionLabel}}",
                            "required":true,
                            "validate":{
                              "enum":[
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                              ]
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "spec":[
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}"
                              }
                            ],
                            "type":"array",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "spec":[
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}"
                              }
                            ],
                            "type":"array",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"select",
                            "label":"{{connectionLabel}}",
                            "validate":{
                              "enum":[
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                              ]
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"text",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"password",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"uinteger",
                            "label":"{{connectionLabel}}",
                            "validate":{
                              "max":300,
                              "min":1
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"cert",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"select",
                            "label":"{{connectionLabel}}",
                            "validate":{
                              "enum":[
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                              ]
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"buffer",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          }
                        ]
                      },
                      "onerror":[
                        {
                          "id":17,
                          "module":"builtin:Break",
                          "version":1,
                          "parameters":{},
                          "mapper":{
                            "count":"3",
                            "retry":true,
                            "interval":"5"
                          },
                          "metadata":{
                            "designer":{
                              "x":2100,
                              "y":600
                            },
                            "expect":[
                              {
                                "name":"{{fullName}}",
                                "type":"boolean",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"uinteger",
                                "label":"{{connectionLabel}}",
                                "required":true,
                                "validate":{
                                  "max":10000,
                                  "min":1
                                }
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"uinteger",
                                "label":"{{connectionLabel}}",
                                "required":true,
                                "validate":{
                                  "max":44640,
                                  "min":1
                                }
                              }
                            ]
                          }
                        }
                      ]
                    },
                    {
                      "id":14,
                      "module":"builtin:BasicRouter",
                      "version":1,
                      "parameters":{
                        "else":1
                      },
                      "mapper":null,
                      "metadata":{
                        "designer":{
                          "x":2100,
                          "y":150
                        }
                      },
                      "routes":[
                        {
                          "flow":[
                            {
                              "id":13,
                              "module":"pipedrive:CreateNote",
                              "version":2,
                              "parameters":{
                                "__IMTCONN__":{{redactedPhone}}
                              },
                              "filter":{
                                "name":"{{fullName}}",
                                "conditions":[
                                  [
                                    {
                                      "a":"{{5.statusCode}}",
                                      "b":"200",
                                      "o":"number:greaterorequal"
                                    },
                                    {
                                      "a":"{{5.statusCode}}",
                                      "b":"400",
                                      "o":"number:less"
                                    }
                                  ]
                                ]
                              },
                              "mapper":{
                                "org_id":"{{3.org_id.value}}",
                                "content":"Activity:\n{{externalUrl}} {{5.data.detail}}",
                                "deal_id":"{{1.deal_id}}",
                                "person_id":"{{3.id}}"
                              },
                              "metadata":{
                                "designer":{
                                  "x":2400,
                                  "y":0
                                },
                                "parameters":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"account:pipedrive-auth,pipedrive-apikey",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  }
                                ],
                                "expect":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"date",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        {
                          "flow":[
                            {
                              "id":16,
                              "module":"pipedrive:CreateActivity",
                              "version":2,
                              "parameters":{
                                "__IMTCONN__":{{redactedPhone}}
                              },
                              "mapper":{
                                "note":"Message:\n{{externalUrl}} {{5.data.detail}}",
                                "type":"task",
                                "org_id":"{{3.org_id.value}}",
                                "deal_id":"{{1.deal_id}}",
                                "subject":"⚠️ Expandi message not sent",
                                "user_id":"{{3.owner_id.id}}",
                                "person_id":"{{3.id}}"
                              },
                              "metadata":{
                                "designer":{
                                  "x":2400,
                                  "y":300
                                },
                                "parameters":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"account:pipedrive-auth,pipedrive-apikey",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  }
                                ],
                                "expect":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"select",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"date",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"time",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"select",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"uuid",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "spec":[
                                      {
                                        "name":"{{fullName}}",
                                        "type":"number",
                                        "label":"{{connectionLabel}}",
                                        "required":true
                                      },
                                      {
                                        "name":"{{fullName}}",
                                        "type":"boolean",
                                        "label":"{{connectionLabel}}"
                                      }
                                    ],
                                    "type":"array",
                                    "label":"{{connectionLabel}}"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "flow":[
                    {
                      "id":23,
                      "module":"http:ActionSendData",
                      "version":3,
                      "parameters":{
                        "handleErrors":false,
                        "useNewZLibDeCompress":true
                      },
                      "filter":{
                        "name":"{{fullName}}",
                        "conditions":[
                          [
                            {
                              "a":"{{3.`we3wewewewqeqwewqe`}}",
                              "b":"148156",
                              "o":"text:equal:ci"
                            }
                          ]
                        ]
                      },
                      "mapper":{
                        "ca":"",
                        "qs":[],
                        "url":"{{externalUrl}}",
                        "data":"{ \r\n\t\"profile_link\": \"{{3.`32432ewewqewqe`}}\", \r\n\t\"first_name\": \"{{3.first_name}}\", \r\n\t\"company_name\": \"{{3.org_id.name}}\", \r\n\t\"qc_ft_chunk1\": \"{{11.result.qc_ft_chunk1}}\",\r\n    \"qc_ft_chunk2\": \"{{11.result.qc_ft_chunk2}}\",\r\n    \"{{redacted}}_calendly_url\":\"{{11.result.{{redacted}}_calendly_url}}\",\r\n    \"qc_ft_chunk3\": \"{{11.result.qc_ft_chunk3}}\",\r\n    \"qc_ft_chunk4\": \"{{11.result.qc_ft_chunk4}}\",\r\n    \"deck_url\": \"{{11.result.deck_url}}\",\r\n    \"qc_ft_close\": \"{{11.result.qc_ft_close}}\"\n\r\n}",
                        "gzip":true,
                        "method":"post",
                        "headers":[],
                        "timeout":"",
                        "useMtls":false,
                        "authPass":"",
                        "authUser":"",
                        "bodyType":"raw",
                        "contentType":"application/json",
                        "serializeUrl":false,
                        "shareCookies":false,
                        "parseResponse":true,
                        "followRedirect":true,
                        "useQuerystring":false,
                        "followAllRedirects":false,
                        "rejectUnauthorized":true
                      },
                      "metadata":{
                        "designer":{
                          "x":1800,
                          "y":1200,
                          "name":"{{fullName}}"
                        },
                        "parameters":[
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"hidden"
                          }
                        ],
                        "expect":[
                          {
                            "name":"{{fullName}}",
                            "type":"url",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"select",
                            "label":"{{connectionLabel}}",
                            "required":true,
                            "validate":{
                              "enum":[
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                              ]
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "spec":[
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}"
                              }
                            ],
                            "type":"array",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "spec":[
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"text",
                                "label":"{{connectionLabel}}"
                              }
                            ],
                            "type":"array",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"select",
                            "label":"{{connectionLabel}}",
                            "validate":{
                              "enum":[
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                              ]
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"text",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"password",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"uinteger",
                            "label":"{{connectionLabel}}",
                            "validate":{
                              "max":300,
                              "min":1
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"cert",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"select",
                            "label":"{{connectionLabel}}",
                            "validate":{
                              "enum":[
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                              ]
                            }
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"buffer",
                            "label":"{{connectionLabel}}"
                          },
                          {
                            "name":"{{fullName}}",
                            "type":"boolean",
                            "label":"{{connectionLabel}}",
                            "required":true
                          }
                        ]
                      },
                      "onerror":[
                        {
                          "id":24,
                          "module":"builtin:Break",
                          "version":1,
                          "parameters":{},
                          "mapper":{
                            "count":"3",
                            "retry":true,
                            "interval":"5"
                          },
                          "metadata":{
                            "designer":{
                              "x":2100,
                              "y":1500
                            },
                            "expect":[
                              {
                                "name":"{{fullName}}",
                                "type":"boolean",
                                "label":"{{connectionLabel}}",
                                "required":true
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"uinteger",
                                "label":"{{connectionLabel}}",
                                "required":true,
                                "validate":{
                                  "max":10000,
                                  "min":1
                                }
                              },
                              {
                                "name":"{{fullName}}",
                                "type":"uinteger",
                                "label":"{{connectionLabel}}",
                                "required":true,
                                "validate":{
                                  "max":44640,
                                  "min":1
                                }
                              }
                            ]
                          }
                        }
                      ]
                    },
                    {
                      "id":25,
                      "module":"builtin:BasicRouter",
                      "version":1,
                      "parameters":{
                        "else":1
                      },
                      "mapper":null,
                      "metadata":{
                        "designer":{
                          "x":2100,
                          "y":1050
                        }
                      },
                      "routes":[
                        {
                          "flow":[
                            {
                              "id":26,
                              "module":"pipedrive:CreateNote",
                              "version":2,
                              "parameters":{
                                "__IMTCONN__":{{redactedPhone}}
                              },
                              "filter":{
                                "name":"{{fullName}}",
                                "conditions":[
                                  [
                                    {
                                      "a":"{{23.statusCode}}",
                                      "b":"200",
                                      "o":"number:greaterorequal"
                                    },
                                    {
                                      "a":"{{23.statusCode}}",
                                      "b":"400",
                                      "o":"number:less"
                                    }
                                  ]
                                ]
                              },
                              "mapper":{
                                "org_id":"{{3.org_id.value}}",
                                "content":"Activity:\n{{externalUrl}} {{23.data.detail}}",
                                "deal_id":"{{1.deal_id}}",
                                "person_id":"{{3.id}}"
                              },
                              "metadata":{
                                "designer":{
                                  "x":2400,
                                  "y":900
                                },
                                "parameters":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"account:pipedrive-auth,pipedrive-apikey",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  }
                                ],
                                "expect":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"date",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        {
                          "flow":[
                            {
                              "id":27,
                              "module":"pipedrive:CreateActivity",
                              "version":2,
                              "parameters":{
                                "__IMTCONN__":{{redactedPhone}}
                              },
                              "mapper":{
                                "note":"Message:\n{{externalUrl}} {{23.data.detail}}",
                                "type":"task",
                                "org_id":"{{3.org_id.value}}",
                                "deal_id":"{{1.deal_id}}",
                                "subject":"⚠️ Expandi message not sent",
                                "user_id":"{{3.owner_id.id}}",
                                "person_id":"{{3.id}}"
                              },
                              "metadata":{
                                "designer":{
                                  "x":2400,
                                  "y":1200
                                },
                                "parameters":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"account:pipedrive-auth,pipedrive-apikey",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  }
                                ],
                                "expect":[
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"boolean",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"select",
                                    "label":"{{connectionLabel}}",
                                    "required":true
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"date",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"time",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"select",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"uuid",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"number",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "type":"text",
                                    "label":"{{connectionLabel}}"
                                  },
                                  {
                                    "name":"{{fullName}}",
                                    "spec":[
                                      {
                                        "name":"{{fullName}}",
                                        "type":"number",
                                        "label":"{{connectionLabel}}",
                                        "required":true
                                      },
                                      {
                                        "name":"{{fullName}}",
                                        "type":"boolean",
                                        "label":"{{connectionLabel}}"
                                      }
                                    ],
                                    "type":"array",
                                    "label":"{{connectionLabel}}"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "flow":[
            {
              "id":10,
              "module":"pipedrive:CreateNote",
              "version":2,
              "parameters":{
                "__IMTCONN__":{{redactedPhone}}
              },
              "mapper":{
                "org_id":"{{3.company_id}}",
                "content":"Neither email nor LinkedIn exists",
                "person_id":"{{3.id}}"
              },
              "metadata":{
                "designer":{
                  "x":1200,
                  "y":2400
                },
                "parameters":[
                  {
                    "name":"{{fullName}}",
                    "type":"account:pipedrive-auth,pipedrive-apikey",
                    "label":"{{connectionLabel}}",
                    "required":true
                  }
                ],
                "expect":[
                  {
                    "name":"{{fullName}}",
                    "type":"text",
                    "label":"{{connectionLabel}}",
                    "required":true
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"number",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"date",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  },
                  {
                    "name":"{{fullName}}",
                    "type":"boolean",
                    "label":"{{connectionLabel}}"
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata":{
    "instant":true,
    "version":1,
    "scenario":{
      "roundtrips":1,
      "maxErrors":3,
      "autoCommit":true,
      "autoCommitTriggerLast":true,
      "sequential":false,
      "slots":null,
      "confidential":false,
      "dataloss":false,
      "dlq":true,
      "freshVariables":false
    },
    "designer":{
      "orphans":[]
    },
    "zone":"eu2.make.com",
    "notes":[]
  }
}