outbound-automation-suite/03_sync_to_lemlist.json
{
  "name":"7. Sync Approved AI Messages to Lemlist",
  "flow":[
    {
      "id":8,
      "module":"airtable:ActionSearchRecords",
      "version":3,
      "parameters":{
        "__IMTCONN__":4480979
      },
      "mapper":{
        "base":"{{airtableBaseId}}",
        "sort":[
          {
            "field":"Modified",
            "direction":"desc"
          }
        ],
        "view":"{{airtableViewId}}",
        "table":"{{airtableTableId}}",
        "fields":[
          "MessageId",
          "Campaign Step name",
          "Lead Full Name",
          "Linked Step",
          "Generated At",
          "Subject Idea",
          "Generated Primary Positioning",
          "short personalization",
          "Generated Message",
          "Claude Quality Score",
          "Generated Call to Action",
          "Message Status",
          "Trigger Event",
          "Created",
          "Modified",
          "stepID",
          "Message to Lead",
          "Executive Title (from Message to Lead)",
          "Company (from Message to Lead)",
          "Lemlist LeadID",
          "Lead Email",
          "Campaign",
          "Sequence",
          "Lead Status",
          "seqStepIndex",
          "Lemlist CampaignID",
          "seqPROMPT"
        ],
        "formula":"AND({Message Status}='Approved',VALUE(ARRAYJOIN({seqStepIndex}))!=0)",
        "maxRecords":"10",
        "useColumnId":false
      },
      "metadata":{
        "designer":{
          "x":0,
          "y":150,
          "name":"get approved msgs"
        },
        "parameters":[
          {
            "name":"__IMTCONN__",
            "type":"account:airtable3,airtable2",
            "label":"Connection",
            "required":true
          }
        ],
        "expect":[
          {
            "name":"base",
            "type":"select",
            "label":"Base",
            "required":true
          },
          {
            "name":"useColumnId",
            "type":"boolean",
            "label":"Use Column ID",
            "required":true
          },
          {
            "name":"table",
            "type":"select",
            "label":"Table",
            "required":true
          },
          {
            "name":"formula",
            "type":"text",
            "label":"Formula"
          },
          {
            "name":"maxRecords",
            "type":"integer",
            "label":"Limit"
          },
          {
            "name":"sort",
            "spec":[
              {
                "name":"field",
                "type":"select",
                "label":"Field",
                "dynamic":true,
                "options":[]
              },
              {
                "name":"direction",
                "type":"select",
                "label":"Direction",
                "options":[
                  {
                    "label":"Descending",
                    "value":"desc"
                  },
                  {
                    "label":"Ascending",
                    "value":"asc"
                  }
                ]
              }
            ],
            "type":"array",
            "label":"Sort"
          },
          {
            "name":"view",
            "type":"select",
            "label":"View"
          },
          {
            "name":"fields",
            "type":"select",
            "label":"Output Fields",
            "multiple":true
          }
        ]
      }
    },
    {
      "id":6,
      "module":"util:FunctionSleep",
      "version":1,
      "parameters":{},
      "filter":{
        "name":"Record exists",
        "conditions":[
          [
            {
              "a":"{{8.`short personalization`}}",
              "o":"exist"
            },
            {
              "a":"{{8.`Lemlist LeadID`}}",
              "o":"exist"
            }
          ],
          [
            {
              "a":"{{8.`Generated Message`}}",
              "o":"exist"
            },
            {
              "a":"{{8.`Lemlist LeadID`}}",
              "o":"exist"
            }
          ]
        ]
      },
      "mapper":{
        "duration":"5"
      },
      "metadata":{
        "designer":{
          "x":300,
          "y":150,
          "name":"delay 5 sec"
        },
        "expect":[
          {
            "name":"duration",
            "type":"uinteger",
            "label":"Delay",
            "required":true,
            "validate":{
              "max":300,
              "min":1
            }
          }
        ]
      }
    },
    {
      "id":5,
      "module":"lemlist:getLeadbyIDorEmail",
      "version":1,
      "parameters":{
        "__IMTCONN__":4552964
      },
      "mapper":{
        "leadId":"{{8.`Lemlist LeadID`}}"
      },
      "metadata":{
        "designer":{
          "x":600,
          "y":150
        },
        "parameters":[
          {
            "name":"__IMTCONN__",
            "type":"account:lemlist",
            "label":"Connection",
            "required":true
          }
        ],
        "expect":[
          {
            "name":"leadId",
            "type":"text",
            "label":"Lead ID"
          },
          {
            "name":"email",
            "type":"email",
            "label":"Email address"
          }
        ]
      }
    },
    {
      "id":2,
      "module":"util:SetVariables",
      "version":1,
      "parameters":{},
      "mapper":{
        "scope":"roundtrip",
        "variables":[
          {
            "name":"Hook",
            "value":"{{encodeURL(ifempty(8.`Generated Primary Positioning`; replace(5.variables.primaryPositioning; \"-\"; \",\")))}}"
          },
          {
            "name":"Subject",
            "value":"{{encodeURL(ifempty(8.`Subject Idea`; replace(5.variables.EmailSubjectIdea; \"-\"; \",\")))}}"
          },
          {
            "name":"email",
            "value":"{{encodeURL(ifempty(8.`Generated Message`; replace(5.variables.emailMessage; \"-\"; \",\")))}}"
          },
          {
            "name":"cta",
            "value":"{{encodeURL(ifempty(8.`Generated Call to Action`; replace(5.variables.CallToAction; \"-\"; \",\")))}}"
          },
          {
            "name":"linkedin",
            "value":"{{encodeURL(if(contains(8.`Campaign Step name`; \"email\"); replace(5.variables.linkedInMessage; \"-\"; \",\"); 8.`Generated Message`))}}"
          },
          {
            "name":"icebreaker",
            "value":"{{encodeURL(ifempty(8.`short personalization`; 5.variables.icebreaker))}}"
          }
        ]
      },
      "metadata":{
        "designer":{
          "x":900,
          "y":150
        },
        "expect":[
          {
            "name":"variables",
            "spec":[
              {
                "name":"name",
                "type":"text",
                "label":"Variable name",
                "required":true
              },
              {
                "name":"value",
                "type":"any",
                "label":"Variable value"
              }
            ],
            "type":"array",
            "label":"Variables"
          },
          {
            "name":"scope",
            "type":"select",
            "label":"Variable lifetime",
            "required":true,
            "validate":{
              "enum":[
                "roundtrip",
                "execution"
              ]
            }
          }
        ]
      }
    },
    {
      "id":3,
      "module":"lemlist:makeApiCall",
      "version":1,
      "parameters":{
        "__IMTCONN__":4552964
      },
      "mapper":{
        "url":"/leads/{{5.`_id`}}/variables?primaryPositioning={{2.Hook}}&emailMessage={{2.email}}&CallToAction={{2.cta}}&linkedInMessage={{2.linkedin}}&EmailSubjectIdea={{2.Subject}}&icebreaker={{2.icebreaker}}",
        "method":"PATCH",
        "headers":[
          {
            "key":"Content-Type",
            "value":"application/json"
          }
        ]
      },
      "metadata":{
        "designer":{
          "x":1200,
          "y":150
        },
        "parameters":[
          {
            "name":"__IMTCONN__",
            "type":"account:lemlist",
            "label":"Connection",
            "required":true
          }
        ],
        "expect":[
          {
            "name":"url",
            "type":"text",
            "label":"URL",
            "required":true
          },
          {
            "name":"method",
            "type":"select",
            "label":"Method",
            "required":true,
            "validate":{
              "enum":[
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name":"headers",
            "spec":[
              {
                "name":"key",
                "type":"text",
                "label":"Key"
              },
              {
                "name":"value",
                "type":"text",
                "label":"Value"
              }
            ],
            "type":"array",
            "label":"Headers"
          },
          {
            "name":"qs",
            "spec":[
              {
                "name":"key",
                "type":"text",
                "label":"Key"
              },
              {
                "name":"value",
                "type":"text",
                "label":"Value"
              }
            ],
            "type":"array",
            "label":"Query String"
          },
          {
            "name":"body",
            "type":"any",
            "label":"Body"
          }
        ]
      },
      "onerror":[
        {
          "id":4,
          "module":"builtin:Break",
          "version":1,
          "parameters":{},
          "mapper":{
            "count":"3",
            "retry":true,
            "interval":"5"
          },
          "metadata":{
            "designer":{
              "x":1500,
              "y":300
            },
            "expect":[
              {
                "name":"retry",
                "type":"boolean",
                "label":"Automatically complete execution",
                "required":true
              },
              {
                "name":"count",
                "type":"uinteger",
                "label":"Number of attempts",
                "required":true,
                "validate":{
                  "max":10000,
                  "min":1
                }
              },
              {
                "name":"interval",
                "type":"uinteger",
                "label":"Interval between attempts",
                "required":true,
                "validate":{
                  "max":44640,
                  "min":1
                }
              }
            ]
          }
        }
      ]
    },
    {
      "id":7,
      "module":"airtable:ActionUpdateRecords",
      "version":3,
      "parameters":{
        "__IMTCONN__":4480979
      },
      "mapper":{
        "id":"{{8.id}}",
        "base":"{{airtableBaseId}}",
        "table":"{{airtableTableId}}",
        "record":{
          "{{fieldId1}}":"Synced"
        },
        "typecast":false,
        "useColumnId":false
      },
      "metadata":{
        "designer":{
          "x":1500,
          "y":0,
          "name":"update Seq prompt status"
        },
        "parameters":[
          {
            "name":"__IMTCONN__",
            "type":"account:airtable3,airtable2",
            "label":"Connection",
            "required":true
          }
        ],
        "expect":[
          {
            "name":"base",
            "type":"select",
            "label":"Base",
            "required":true
          },
          {
            "name":"typecast",
            "type":"boolean",
            "label":"Smart links",
            "required":true
          },
          {
            "name":"useColumnId",
            "type":"boolean",
            "label":"Use Column ID",
            "required":true
          },
          {
            "name":"table",
            "type":"select",
            "label":"Table",
            "required":true
          },
          {
            "name":"id",
            "type":"text",
            "label":"Record ID",
            "required":true
          },
          {
            "name":"record",
            "spec":[
              {
                "name":"{{fieldId4}}",
                "type":"text",
                "label":"Campaign Step name"
              },
              {
                "name":"{{fieldId2}}",
                "spec":{
                  "name":"value",
                  "label":"Record ID"
                },
                "type":"array",
                "label":"Linked Step"
              },
              {
                "name":"{{fieldId5}}",
                "time":true,
                "type":"date",
                "label":"Generated At"
              },
              {
                "name":"{{fieldId6}}",
                "type":"text",
                "label":"Subject Idea"
              },
              {
                "name":"{{fieldId7}}",
                "type":"text",
                "label":"Generated Primary Positioning"
              },
              {
                "name":"{{fieldId8}}",
                "type":"text",
                "label":"short personalization"
              },
              {
                "name":"{{fieldId9}}",
                "type":"text",
                "label":"Generated Message"
              },
              {
                "name":"{{fieldId10}}",
                "type":"number",
                "label":"Claude Quality Score"
              },
              {
                "name":"{{fieldId11}}",
                "type":"text",
                "label":"Generated Call to Action"
              },
              {
                "mode":"edit",
                "name":"{{fieldId1}}",
                "type":"select",
                "label":"Message Status"
              },
              {
                "name":"{{fieldId12}}",
                "type":"text",
                "label":"Trigger Event"
              },
              {
                "name":"{{fieldId3}}",
                "spec":{
                  "name":"value",
                  "label":"Record ID"
                },
                "type":"array",
                "label":"Message to Lead"
              },
              {
                "name":"{{fieldId13}}",
                "type":"text",
                "label":"{{lemlistConnection}}"
              }
            ],
            "type":"collection",
            "label":"Record"
          }
        ]
      }
    }
  ],
  "metadata":{
    "instant":false,
    "version":1,
    "scenario":{
      "roundtrips":1,
      "maxErrors":3,
      "autoCommit":true,
      "autoCommitTriggerLast":true,
      "sequential":false,
      "slots":null,
      "confidential":false,
      "dataloss":false,
      "dlq":true,
      "freshVariables":false
    },
    "designer":{
      "orphans":[]
    },
    "zone":"us2.make.com",
    "notes":[]
  }
}