clinic-weekly-reminders-pack/02_campaign_group_A.json
{
    "name": "{{brand}} TRP Reminders Weekly Email Doctors",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": "xxxxxx",
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450,
                    "name": "{{brand}}"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "{{connectionLabel}}"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "{{connectionLabel}}"
                    }
                ],
                "interface": [
                    {
                        "name": "{{brand}}",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": {{dataStoreId1}}
            },
            "filter": {
                "name": "contact exists",
                "conditions": [
                    [
                        {
                            "a": "{{1.{{brand}}}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "key": "{{1.{{brand}}}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450,
                    "name": "{{brand}}"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "{{connectionLabel}}"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "doctorEmail",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "campaignId",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "campaignSent",
                        "type": "boolean",
                        "label": null,
                        "required": false
                    },
                    {
                        "name": "campaignDate",
                        "type": "date",
                        "label": null,
                        "required": false
                    },
                    {
                        "name": "campaignSentDate",
                        "type": "date",
                        "label": null,
                        "required": false
                    },
                    {
                        "name": "patientsText",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "mailchimp:addRemoveATag",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6776474
            },
            "mapper": {
                "list": "{mailchimpListId}",
                "tags": [
                    {
                        "name": "{{brand}}_TPRCasesAlert",
                        "status": "active"
                    }
                ],
                "email": "{{3.doctorEmail}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450,
                    "name": "Add Tag {{brand}}_TPRCasesAlert"
                },
                "restore": {
                    "expect": {
                        "list": {
                            "mode": "chose",
                            "label": "{{connectionLabel}}"
                        },
                        "tags": {
                            "mode": "chose",
                            "items": [
                                {
                                    "status": {
                                        "mode": "chose",
                                        "label": "{{connectionLabel}}"
                                    }
                                }
                            ]
                        },
                        "email": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "mailchimp"
                            },
                            "label": "{{connectionLabel}}"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mailchimp",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "list",
                        "type": "select",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "email",
                        "type": "select",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "tags",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "{{connectionLabel}}",
                                "required": true
                            },
                            {
                                "name": "status",
                                "type": "select",
                                "label": "{{connectionLabel}}",
                                "options": [
                                    {
                                        "label": "{{connectionLabel}}",
                                        "value": "active"
                                    },
                                    {
                                        "label": "{{connectionLabel}}",
                                        "value": "inactive"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "{{connectionLabel}}"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 10,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 900
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "{{connectionLabel}}",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 15,
            "module": "mailchimp:createACampaign",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6776474
            },
            "filter": {
                "name": "Email Exists",
                "conditions": [
                    [
                        {
                            "a": "{{3.doctorEmail}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "list": "{mailchimpListId}",
                "title": "Weekly TPR {{brand}} - {{3.doctorEmail}} - {{formatDate(now; \"YYYY-MM-DD\")}}",
                "folder": "{mailchimpFolderId}",
                "select": "template",
                "segment": "{mailchimpSegmentId}",
                "reply_to": "{{redactedEmail}}",
                "template": "{mailchimpTemplateId}",
                "from_name": "{{brand}} at {{brand}}",
                "preview_text": "Following patients have approved treatment plans ready to start",
                "subject_line": "Treatment Plans Ready: Action Required",
                "use_conversation": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "list": {
                            "mode": "chose",
                            "label": "{{connectionLabel}}"
                        },
                        "folder": {
                            "mode": "chose",
                            "label": "{{connectionLabel}}"
                        },
                        "select": {
                            "label": "{{connectionLabel}}"
                        },
                        "segment": {
                            "mode": "chose",
                            "label": "{{connectionLabel}}"
                        },
                        "template": {
                            "mode": "chose",
                            "label": "{{connectionLabel}}"
                        },
                        "use_conversation": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "mailchimp"
                            },
                            "label": "{{connectionLabel}}"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mailchimp",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "list",
                        "type": "select",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "subject_line",
                        "type": "text",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "preview_text",
                        "type": "text",
                        "label": "{{connectionLabel}}"
                    },
                    {
                        "name": "from_name",
                        "type": "text",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "reply_to",
                        "type": "email",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "to_name",
                        "type": "text",
                        "label": "{{connectionLabel}}"
                    },
                    {
                        "name": "use_conversation",
                        "type": "boolean",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "{{connectionLabel}}"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "{{connectionLabel}}",
                        "required": true,
                        "validate": {
                            "enum": [
                                "template",
                                "html"
                            ]
                        }
                    },
                    {
                        "name": "segment",
                        "type": "select",
                        "label": "{{connectionLabel}}"
                    },
                    {
                        "name": "template",
                        "type": "select",
                        "label": "{{connectionLabel}}"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 16,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "2"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 600
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "{{connectionLabel}}",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 17,
            "module": "mailchimp:editACampaignTemplateContent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6776474
            },
            "filter": {
                "name": "campaign id exists",
                "conditions": [
                    [
                        {
                            "a": "{{15.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "select": "map",
                "campaign": "{{15.id}}",
                "sections": [
                    {
                        "content": "<ul>{{3.patientsText}}</ul>",
                        "sectionName": "patients_content"
                    }
                ],
                "template": "{{15.settings.template_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "{{connectionLabel}}"
                        },
                        "sections": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "mailchimp"
                            },
                            "label": "{{connectionLabel}}"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mailchimp",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "{{connectionLabel}}",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "campaign",
                        "type": "text",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "template",
                        "type": "uinteger",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "sections",
                        "spec": [
                            {
                                "name": "sectionName",
                                "type": "text",
                                "label": "{{connectionLabel}}",
                                "required": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "{{connectionLabel}}"
                            }
                        ],
                        "type": "array",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 18,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "2"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1500,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "{{connectionLabel}}",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 19,
            "module": "datastore:UpdateRecord",
            "version": 1,
            "parameters": {
                "datastore": {{dataStoreId1}}
            },
            "mapper": {
                "key": "{{3.doctorEmail}}",
                "data": {
                    "campaignId": "{{15.id}}",
                    "doctorEmail": "",
                    "campaignDate": "{{15.create_time}}",
                    "patientsText": "",
                    "campaignSentDate": ""
                },
                "upsert": true,
                "overwriteArrays": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "data": {
                            "nested": {
                                "campaignSent": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "upsert": {
                            "mode": "chose"
                        },
                        "overwriteArrays": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "{{connectionLabel}}"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "upsert",
                        "type": "boolean",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "overwriteArrays",
                        "type": "boolean",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "doctorEmail",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "campaignId",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "campaignSent",
                                "type": "boolean",
                                "label": null
                            },
                            {
                                "name": "campaignDate",
                                "type": "date",
                                "label": null
                            },
                            {
                                "name": "campaignSentDate",
                                "type": "date",
                                "label": null
                            },
                            {
                                "name": "patientsText",
                                "type": "text",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "{{connectionLabel}}"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "mailchimp:performACampaignAction",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6776474
            },
            "mapper": {
                "action": "send",
                "campaign": "{{15.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "action": {
                            "label": "{{connectionLabel}}"
                        },
                        "campaign": {
                            "mode": "edit"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "mailchimp"
                            },
                            "label": "{{connectionLabel}}"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mailchimp",
                        "label": "{{connectionLabel}}",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "campaign",
                        "type": "select",
                        "label": "{{connectionLabel}}",
                        "required": true
                    },
                    {
                        "name": "action",
                        "type": "select",
                        "label": "{{connectionLabel}}",
                        "required": true,
                        "validate": {
                            "enum": [
                                "cancel-send",
                                "send",
                                "schedule",
                                "unschedule",
                                "pause",
                                "resume",
                                "replicate",
                                "test",
                                "create-resend"
                            ]
                        }
                    }
                ]
            },
            "onerror": [
                {
                    "id": 12,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "2"
                    },
                    "metadata": {
                        "designer": {
                            "x": 2100,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "{{connectionLabel}}",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "{{connectionLabel}}",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}